[2017-06-16 11:10] icebob commented on #231
Hi all,

As @lionel-bijaoui said the main problem is that the html5 date fields are very browser dependent fields. We can't make a solution which will be good everyone. So in this case please copy the fieldInput.js and create a custom date field with the desired features. With `formatValueToModel` and `formatValueToField` methods can be convert/format the values vice-versa.

[2017-06-16 13:32] lionel-bijaoui commented on #231
@icebob Since `input` field is supposed to be very close from native/manual input, isn't better to remove any conversion from these.
And, as you said

If someone want something different, they can just clone it and do their thing (conversions, etc.).

That way, when all browser will be compatible with `date`, `datetime` and `datetime-local` we have nothing to change, since we will not be interferi

[2017-06-19 04:19] Aareksio opened #234 "Select field doesn't work with id = 0"
You can't set `id: 0` in select type field values.

[code]

The check [here](https://github.com/icebob/vue-form-generator/blob/master/src/fields/core/fieldSelect.vue#L30) fails when `item.id = 0` and instead of `id` property alone, returns the whole object, so we end up with `[Object object]` in `value` HTML field...

It was already mentioned in #186, without reaction, so perhaps it's intended. If

[2017-06-19 06:16] nthorpe commented on #172
Hi @cristijora. Has this issue been fixed? I'm receiving the same error as https://github.com/icebob/vue-form-generator/issues/172#issuecomment-293506515 using 2.0.0-beta8

[2017-06-19 07:15] pardmeister opened #235 "Label not showing on image input"
Hi

The label on my image input is not showing. My code is below:

[code]

Also, is there a more detailed tutorial in styling the forms?

Thanks
Pard

[2017-06-19 17:28] pardmeister opened #236 "Showing server-side error messages in fields"
Hi

I was wondering how to attach server side validation error messages to input fields. For example, say I have a user model with name surname which I submit to the server via ajax. If the server returns an error for name, ['name': 'Some validation failed', 'surname': 'Some other validation failed'], how do I get this to show under the appropriate fields? I can do this per field by creating a cus

[2017-06-20 07:07] cristijora commented on #172
Not very sure whether it has been fixed. I did not follow the thread
unfortunately. Detected the issue and made a PR.
Maybe @icebob can provide more details here

On 19 June 2017 at 09:16, Nathan Thorpe <notifications@github.com> wrote:

[2017-06-21 10:01] bhupender005 commented on #111
Hello guys, I am trying to achieve this using main.js but getting above error

main.js
import Vue from 'vue'
import App from './App'
import Header from './Header'
import router from './router'
import VueFormGenerator from 'vue-form-generator'
import Bootstrap from 'bootstrap'
import BootstrapDatePicker from 'bootstrap-datepicker'
import Moment from 'moment'

import 'bootstrap/dist/css/bootstrap.cs

[2017-06-21 10:12] cristijora commented on #111
Shouldn't BootstrapDatePicker be registered firt in your case before FormGenerator?
`Vue.use({Bootstrap, Moment, BootstrapDatePicker, VueFormGenerator})`

[2017-06-21 10:14] lionel-bijaoui commented on #210
My PR #237 should fix this issue. I'm waiting for @icebob validation.
Just add `hideNoneSelectedText` in `selectOptions` and this `<option>` won't be added.
No need for CSS hack anymore \o/

[2017-06-21 10:35] bhupender005 commented on #111
@cristijora Still getting same error
"Bootstrap datetimepicker library is missing. Please download from https://eonasdan.github.io/bootstrap-datetimepicker/ and load the script and CSS in the HTML head section!"

[2017-06-21 11:27] icebob commented on #111
@bhupender005 I don't think you can use these non-vue modules with `Vue.use`. Check the dev example in `dev` folder how we can use them.

[2017-06-21 11:49] cristijora commented on #111
@icebob Says right. Indeed those modules are not Vue plugins so you can't use them like that. Only FormGenerator is. So dumb for not seing that 🦆

[2017-06-21 12:37] bhupender005 commented on #111
@icebob Thanks for info
@cristijora I am too new to VueJS, my bad

Guys couldn't find dev folder, can you help me how to use "datepicker". Can you help me how to include these plugins/files in my current scenario (VueJS web-package)

[2017-06-21 13:51] lionel-bijaoui commented on #111
@bhupender005 Sorry, but this is out of the scope of this plugin and the use of the issue tracker.
If you want to find help you can ask any question you like on the [official Vuejs Forum](https://forum.vuejs.org/) or the [Vuejs Gitter channel](https://gitter.im/vuejs/vue).
Of course, if you have an issue or question directly related to this plugin and it's use feel free to [open another issue](htt

[2017-06-21 14:11] lionel-bijaoui commented on #232
As far as I know, this is impossible with the current system. There could be a way by using [mixins](https://vuejs.org/v2/api/#Vue-mixin) but this is currently not the way this plugin work*.
You are better of copying the [source code](https://github.com/icebob/vue-form-generator/blob/master/src/fields/core/fieldSelect.vue) and [adapting it to your need](https://icebob.gitbooks.io/vueformgenerator/

[2017-06-21 14:11] #232 closed

[2017-06-21 14:24] lionel-bijaoui commented on #233
This is a very good question !
You should look into [custom validator](https://icebob.gitbooks.io/vueformgenerator/validation/custom-validators.html). Maybe you could trigger validation of this field on `@input` (I'm not sure how to do that).
I'm aware that this is not a good solution but right now `hint` is a simple string.
It would be nice to have a dynamic `hint` (like with `visible` or `disabl

[2017-06-21 14:25] lionel-bijaoui commented on #235
Can you provide a Fiddle ?
It will be easier to find a solution that way.
Thank you.

[2017-06-21 14:27] lionel-bijaoui commented on #236
Hello,
You should read the documentation about [asynchronous validators](https://icebob.gitbooks.io/vueformgenerator/validation/custom-validators.html#asynchronous-validators).
Good luck

[2017-06-21 14:30] lionel-bijaoui commented on #229
@obiwarn Maybe you could give us a hand an do a PR for that ?
That would be really nice of you to do that.
[Check this file to get started](https://github.com/icebob/vue-form-generator/blob/master/src/utils/validators.js).
Good luck !

[2017-06-21 16:31] pardmeister commented on #235
Will do, still reading up on creating fiddles.

[2017-06-21 16:39] pardmeister commented on #236
Hi Lionel

Thanks for the response. I had already implemented an asynchronous validator, and that works well. The way I understand it is that each asynchronous validator is linked to a particular input field. What i was asking is if it was possible to return an error bag from the server for multiple input fields and have vue form validator show those error messages by field name. I am not sure if

[2017-06-21 16:39] DelfsEngineering commented on #227
It doesn't exist in the fiddle, So I guess where is the proper place to add `<script>...vfg.css</script>` ?

If I add it to my component that calls vfg, the css appear to overwrite my bootstrap.css and the `col-md-6 etc` widths get corrupted.

[2017-06-21 16:49] lionel-bijaoui commented on #236
I'm not sure I'm understanding correctly. I'm going to reopen the issue, in the meantime, try to explain your problem better/differently.
As far as I understand, you want to use the same validator on multiple fields and have each field show the validation message corresponding under each field.
Since, this is how validator works, I don't understand the problem.
What is an "error bag" ? You mean gr

[2017-06-21 17:13] lionel-bijaoui commented on #227
Have you tried my proposal ? Have you inspected your code ? What's your level in CSS ?
It may be related to the order in which you import it.
[In this fiddle](https://jsfiddle.net/qhhnzd5e/1/), I added bootstrap along vfg.css and nothing is broken.
Lastly, vfg.css doesn't contain `col-md-6` and everything is under the `.vue-form-generator` so nothing outside should be contaminated.

Sorry, but I'm

[2017-06-21 17:19] lionel-bijaoui commented on #204
You will find more information about this by reading this issue #231
To put it simply, Firefox is [not yet compatible](https://caniuse.com/#search=date) with the native `<input type="date">`. It has nothing to do with us. As you can see, it is also not compatible with IE and Safari.
Read #231 for more info.

[2017-06-21 17:19] #204 closed

[2017-06-21 17:20] pardmeister commented on #235
Hi Lionel

Hope this works. By the way, this is a great component, thanks for the great work guys.

https://jsfiddle.net/kbg6gbyc/4/

[2017-06-21 17:32] pardmeister commented on #236
Not sure if I can create a fiddle for this use case yet, but let sleep on it. I will try tomorrow morning again.

In the meantime, I use VFG with Laravel. In the backend, i user laravel's FormRequest to validate the form inputs. In that validation, I may only accept the form if the inputs pass some backend validation which is a combination of the input values and perhaps some database checks. If t

[2017-06-21 17:33] lionel-bijaoui commented on #235
FYI you can add the css of VFG with [this link](https://unpkg.com/vue-form-generator@2.0.0-beta5/dist/vfg.css), no need to copy and paste it directly.
I updated [your fiddle](https://jsfiddle.net/kbg6gbyc/6/) accordingly.

I seem to be [a feature](https://github.com/icebob/vue-form-generator/blob/master/src/formGenerator.vue#L205).
I didn't knew this existed and I don't know why this is here.
@ice

[2017-06-21 17:35] pardmeister commented on #235
Yes, I noticed in this piece of code:

[code]

Should have just posted that actually

[2017-06-21 17:35] pardmeister commented on #235
Thanks for the assistance lionel

[2017-06-21 17:37] lionel-bijaoui commented on #235
You are welcome 👍
Next time, yeah, start with that 😆

[2017-06-21 17:48] lionel-bijaoui commented on #236
Ok, I understand better !
It is slipping out of the scope of VFG, but since Laravel is very popular with Vuejs, maybe this need to be explored a bit more.

My opinion is that you should do the multiple ajax call. Trying to avoid that will make everything much more complex. I don't know how Laravel is with API and concurrent call, but it should be fine.

You also got to think about the user experie

[2017-06-21 18:44] pardmeister commented on #236
Thanks, i suppose a good way to learn is to dig into stuff like this. You are right, maybe I should start thinking of a solution for it. It's not a showstopper for my application, I was just wondering if the feature was possible.

[2017-06-21 18:44] #236 closed

[2017-06-21 20:42] lionel-bijaoui commented on #236
No problem, it was an interesting idea.
Good luck on your project !

[2017-06-25 13:18] sjordan1975 opened #238 "How to use pikaday for cross-browser date selection?"
I am trying to use pikaday as an alternative to bugs raised by #231.

However, I cannot seem to get dates to work.

I have created a [fiddle](https://jsfiddle.net/sjordan/6tkhy8m9/).

Issues I'm facing:

1. The form has the same bug as #231. Entering values with the keyboard gives incorrect results.
2. Selecting a value from the pop-up calendar does not seem to set the model value. Note, the value

[2017-06-26 09:54] pardmeister commented on #235
Hi

Has this been updated, or is there a valid reason why an image input should not have a label?

[2017-06-26 16:10] lionel-bijaoui opened #239 "Help to update VueMultiselect partial functionnality"
The goal here is to update to the new API of VueMultiselect v2 (kinda relate to #193).
So far, I did the easiest part, cleaning old and unused props and adding the missing one. I also reordered the props to fit [the documentation](http://monterail.github.io/vue-multiselect/#sub-props).

My biggest challenge so far is the new way to do custom rendering of the list.
Before, it was using Vue partials

[2017-06-26 16:15] lionel-bijaoui commented on #235
Sorry, I'm waiting on @icebob answer to fix this (or not if it is indeed a feature that make sense).

[2017-06-26 17:44] icebob commented on #239
Thanks the PR.
Currently I don't know also how we can add scoped slots to multiselect field.

Workaround: if somebodies want to use custom multiselect listing, they need to create custom fields with slots :)

[2017-06-26 17:48] icebob commented on #235
Hmm, I think it is a bug. Need to remove the `image` from the switch case.

[2017-06-26 20:21] lionel-bijaoui commented on #239
@icebob If we drop this functionality (at least for now), I can finish this faster. You validate ?

[2017-06-26 20:26] icebob commented on #239
I think it is a bigger development (scoped slots thing), so I suggest to make it later, after the stable v2.

[2017-06-26 20:28] icebob commented on #235
@pardmeister Could you make a PR with fix?

[2017-06-27 01:23] pardmeister commented on #235
@icebob Not a problem.

[2017-06-27 04:45] pardmeister commented on #235
Done, please review when you have time.

[2017-06-27 07:00] icebob commented on #235
Thank you. Merged.

[2017-06-27 07:00] #235 closed

[2017-06-27 12:50] bhupender005 opened #243 "Form inputs are not having 'name' attributes"
While submitting all details, I wanna do it via ajax and json encoded code. Also i don't know how many fields i would have in each form, it totally depends upon user. So using jquery "serialize" to get data inserted by user.

That is not getting me data, as 'name' attribute is missing from inputs. Can you guys please fix it

[2017-06-27 13:21] Vacilando commented on #232
I wonder, @icebob, do you have another point of view on this? It would of course be better to be able to extend rather than copying and adapting the source.

[2017-06-27 15:34] cristijora commented on #232
If you're using pug you can actually do that via `Vue.extends` and extend templates
http://vuejsdevelopers.com/2017/06/11/vue-js-extending-components/
If not you can extend the component only and copy the template part from the original vfgField and modify it how you want

[2017-06-27 15:34] icebob commented on #232
Yes, it would be good, but in current implementation it is not possible.

[2017-06-29 12:17] lionel-bijaoui commented on #232
That would be nice, but shouldn't we do something like "VFG engine" and make all fields separate modules.
That would split the issue to each individual fields repo.
I'm talking, no core fields, no optional fields. Something like Babel, Grunt, etc. has done.
That way we could just use the fields we need and nothing else.
For example, right now, I need VueMultiSelect, but I don't care about all the

[2017-06-29 13:45] cristijora commented on #232
Maybe simpler alternatives such as adding component names exporting fields in a separate file
//input field
[code]

//fields index file
[code]

[code]

Usage:
[code]

[2017-06-29 13:57] random-one commented on #232
@cristijora  yes, that was it what I needed. To import a single field and then do whatever I want with it. It's more like project structuring work than implementation of engines and stuff.

[2017-06-29 14:01] cristijora commented on #232
I think you can already do that @random-one by importing it then registering it on vfg directly but what I wrote above would be prettier, cleaner and more straight forward. The disadvantage here is that users will have to import pug if the field implementation is kept as it is

[2017-06-29 14:13] random-one commented on #232
@cristijora I agree with you that your proposal is better and more straight forward. I couldn't do what you suggested because I'm too new to vue.js and couldn't dug them out of the module.

[2017-06-29 16:15] lionel-bijaoui commented on #232
@cristijora I like your idea a lot. Could we do that as well ?
[code]

[2017-06-29 16:20] cristijora commented on #232
Yes of course. That's the whole purpose of it to register components. Inside the install method it simply
`Vue.component(component.name,component)` registers the component globally. The only condition here is for the component to have the correct naming format (vfgFieldWhatever) and extend the abstractField which is alreay a condition

[2017-06-29 16:28] lionel-bijaoui commented on #232
@icebob Is it too late to implement this solution ? I know you wanted to release v2 this week.

[2017-06-29 19:02] cristijora commented on #232
Hm I already got stuck on this due to some tests issues. Even if I delete the components registration from vueFormGenerator.vue the tests still pass. @icebob any idea ?

[2017-06-30 07:55] icebob commented on #234
Please make a fiddle with the issue.

[2017-06-30 07:58] icebob commented on #193
@lionel-bijaoui could you also fix it, please?

[2017-06-30 07:59] #193 closed

[2017-06-30 08:03] icebob commented on #232
@lionel-bijaoui  I don't understand how it will solve the original problem?
@cristijora I have no idea, I will check it.

[2017-06-30 08:51] icebob commented on #238
The field is working, but there was a circular JSON stringify error when tried to `prettyJSON` the schema.

[2017-06-30 08:52] lionel-bijaoui commented on #232
@icebob It doesn't but it make VFG more modular and this is something I convinced is needed (#67 was a first step). The app I'm building is big so we need to trim as much fat as possible.
@cristijora solution is a good middle ground between "packs" and "ultra modular". Since it will require breaking the current API, it need to come with a new major version. So either we do it now and made that fea

[2017-06-30 09:01] icebob commented on #232
I think it needs more time & development, so it comes only in the next major v3.
And please create a new separated ticket, because it is not refer to this ticket.

[2017-06-30 09:11] icebob commented on #239
@lionel-bijaoui full dev example is not working after #240.
![image](https://user-images.githubusercontent.com/306521/27729128-d69605b8-5d84-11e7-8c20-9ce8cd49c1a8.png)

[2017-06-30 09:25] icebob commented on #215
The `dateTimePicker` and `date` input are working if the model has no prop.
[Ref](https://github.com/icebob/vue-form-generator/blob/master/dev/picker/app.vue)

[2017-06-30 09:26] lionel-bijaoui opened #244 "Improve the field loading method"
The goal is to make field loading more modular, so that you only use the fields you really need.
@cristijora proposed this solution:

//input field
[code]

//fields index file
[code]

[code]

Usage:
[code]

This solution is a sweet spot between one big pack and only modular field. It allow to use internal component and custom ones, and take advantages of webpack tree-shaking feature.

Now, this al

[2017-06-30 09:34] lionel-bijaoui commented on #239
#245 will fix it

[2017-06-30 09:37] icebob commented on #239
Thx. It works.

[2017-06-30 09:41] icebob commented on #220
#215: no bug

[2017-06-30 09:41] icebob commented on #220
I'm starting to release v2 stable

[2017-06-30 10:06] icebob commented on #220
[Released stable v2!](https://github.com/icebob/vue-form-generator/releases/tag/v2.0.0)
Please try somebody who can.

[2017-06-30 10:06] #220 closed

[2017-06-30 10:16] icebob opened #246 "Collaborators"
## Current collaborators
@icebob
@lionel-bijaoui
@dflock
@cristijora

## Rules/Rights for collaborators
- create/close/modify/organize issues
- create/merge/close PRs
- **Merge PRs only after @icebob approved!**
- Open a discussion issue (and mention other collaborators) before create a new feature PR (need to discuss all new features with the team)

[2017-06-30 10:17] icebob commented on #246
Welcome @cristijora as our new collaborator (of course if he accept my invite :smile: )!

[2017-06-30 11:52] bhupender005 commented on #243
It worked fine, thanks
But its not working for all fields

E.g. For checklist its not working

Following is my code
type: 'checklist',
  label: 'Annual Income',
  model: 'annualIncome',
  values: [
    {name: 'Upto INR 1 Lakh', value: 'upto1Lakh'},
    {name: 'INR 1 Lakh to 2 Lakh', value: 'INR 1 Lakh to 2 Lakh'},
    {name: 'INR 2 Lakh to 4 Lakh', value: 'INR 2 Lakh to 4 Lakh'},
    {name: 'INR 4

[2017-06-30 11:55] icebob commented on #243
Yes because `checklist` is not a standard `input` fields. It is many of checkbox `input` fields.
This `inputName` only works with `type: "input"` fields.

[2017-06-30 13:14] sjordan1975 commented on #238
How about the first point; I seem unable to successfully enter a pick using the keyboard

[2017-06-30 13:14] bhupender005 commented on #243
Yup, but for checklist, its mentioned to declare "name" and "value" under Values property of that object. But that's not working. Its only rendering input type="checkbox" and "name" as label whereas for
values: [
{name: 'Upto INR 1 Lakh', value: 'upto1Lakh'}
]
it should render something like
(label) ( Input type="checkbox" name="Upto INR 1 Lakh" value="upto1Lakh" ) Upto INR 1 Lakh (/label)

[2017-07-01 10:50] Aareksio commented on #234
Here: https://jsfiddle.net/0mg1v81e/514/

[2017-07-01 12:01] #234 closed

[2017-07-01 12:03] icebob commented on #234
Thanks. Fixed

[2017-07-03 08:34] cristijora commented on #246
Thanks!

[2017-07-03 12:58] bhupender005 opened #247 "Facing few issues when using this with webpackage"
No doubt this is awesome plugin, saved lot of my work (Creating form via Schema)
but facing following few issues and unable to debug them

1. Datepicker in webpackage throws error "Bootstrap datetimepicker library is missing. Please download from https://eonasdan.github.io/bootstrap-datetimepicker/ and load the script and CSS in the HTML head section!"
2. VueMultiSelect ain't working, in browser i

[2017-07-04 08:43] lionel-bijaoui opened #248 "Input type range return a string"
Input type range return a `String` instead of a `Number`.
I'm going to push a fix.
@icebob @dflock @cristijora

[2017-07-04 08:44] icebob commented on #248
Thanks!

[2017-07-04 09:08] #248 closed

[2017-07-05 09:01] Dubaua opened #250 "Markdown in labels"
Is it possible to make labels with markdown? I need to insert link to one of my labels (privacy politics)

[2017-07-05 09:17] cristijora commented on #250
From what I know, currently it's not possible to have markdown in labels. I think it's easier to make your own field which will contain markdown or dynamic html. Depending on how often you need this feature it might be introduced but only in a component form and not markdown.

[code]

[2017-07-05 09:26] icebob commented on #250
Or you can use `help` or `hint` prop. The `help` supports HTML tags.

https://icebob.gitbooks.io/vueformgenerator/content/fields/field_properties.html

[2017-07-05 09:28] icebob commented on #247
Please create an example with your issue on webpackbin. https://www.webpackbin.com/bins/-KfTYPHVhmsBlJ42OZgT

[2017-07-05 09:30] Dubaua commented on #250
@cristijora Thank you. I'll try.

[2017-07-05 09:58] cristijora commented on #247
I think the main issue here is that the datepicker field is built for the jquery bootstrap datepicker
https://github.com/icebob/vue-form-generator/blob/master/src/fields/optional/fieldDateTimePicker.vue#L47

while @bhupender005  uses the `vue-bootstrap-datepicker`
`import BootstrapDatePicker from 'vue-bootstrap-datetimepicker'` which obviously is something different than the jquery one

Above that

[2017-07-06 15:47] Dubaua commented on #250
I tried

`var privacy = {
    label: {
        template: '<span>This is my <b>bold text</b></span>'
    },
};

var app = new Vue({
    el: '#app',
    mixins: [privacy],
    components: {
        'vue-form-generator': VueFormGenerator.component
    },
   ...`
That doesn't work.
I know that I missed something important, but I don't know what.

[2017-07-06 16:00] cristijora commented on #250
@Dubaua Maybe I didn't express myself very clear here but that was more of an idea/suggestion to implement rather than an implementation detail
The only thing that support html now is the `hint` field
![image](https://user-images.githubusercontent.com/15955045/27920451-48233fbe-627d-11e7-92e8-b83a21e089f7.png)
https://jsfiddle.net/0mg1v81e/526/

My example is just a suggestion which is not impleme

[2017-07-06 16:23] #250 closed

[2017-07-07 02:59] flakobatako opened #251 "Checklist bootstrap styling"
Contrary to the traditional select, using a checklist, the style is broken when using bootstrap (the bg color of the list is transparent, doesn't show the arrow).

Based on the demo: https://jsfiddle.net/zoeabsL4/

Is there any work around?

Thanks in advance

[2017-07-07 07:13] icebob commented on #251
Workaround if you add [vfg.css](https://unpkg.com/vue-form-generator/dist/vfg.css)
https://jsfiddle.net/icebob/zoeabsL4/1/

[2017-07-10 17:42] CmdrSharp opened #252 ""default" option for select broken"
The default selector for dropdown selects doesn't appear to actually default anything. This is a Fiddle showcasing a replica of the example usage from the documentation:

https://jsfiddle.net/4pmcyju3/1/

[2017-07-10 17:58] CmdrSharp commented on #252
Appears to be the case with other elements such as checkboxes too.

https://jsfiddle.net/4pmcyju3/2/

[2017-07-12 08:08] #210 closed

[2017-07-12 09:38] lionel-bijaoui opened #253 "Validator: Field validated class"
Hi @icebob @dflock @cristijora,

I need a validated state (class) for my fields.
I noticed [in the source](https://github.com/icebob/vue-form-generator/blob/master/src/formGenerator.vue#L177) that there is a `validationSuccessClass` and by setting it with `validationErrorClass`, I can get a class that currently correspond to "no error".

But "no error" and "validated" don't have the same meaning.

[2017-07-12 10:27] jionlab205 opened #254 "Question: styleClasses usage"
VFG is fantastic component that I looking for! thanks in advance.
Hope to use it my scratch project , but I am novice to VUE,  need some help.

I would like to  change style for my style.  I use single .Vue file that contain template, script, style.
To show the field "Name" label as Red and Big,    I added the styleClasses "name-field" ,  as below.

schema: {
   fields: [{
          type: 'input',

[2017-07-12 11:39] gishan opened #255 "Custom Validation Function problem"
I am using one custom validation function for validating an input field. In that validating function, I use one API to check the input value is existing or not. so when it is existing it will show 'True', if it is not then 'False',
but when I type the text in a quick it will give two three Trues or Falses.
as an example if 'car', 'cara' and 'carav' are existing when I want to type 'caravan' then i

[2017-07-12 15:41] Eduardoveras opened #256 "Form is not reactive"
When I update the values after rendering the VFG, the component is not updated. im setting the disabled field dinamically and its not updating,

(will update with fiddle)

[2017-07-12 17:40] icebob commented on #255
If you have an error, you need to return with an array with error messages. If not return with null or undefined.
More info: https://icebob.gitbooks.io/vueformgenerator/content/validation/custom-validators.html

[2017-07-12 17:44] icebob commented on #254
The problem is that it won't work with scoped styles.
Create a non-scoped style block too.
[code]

[2017-07-12 18:30] Eduardoveras commented on #256
https://jsfiddle.net/eduardoveras94/dhv2txz9/2/

Seems like its not possible to give the schema a variable as value, it always take the input as false

note: check isDisabled value on lines 25 and 27

[2017-07-12 18:33] icebob commented on #253
Good idea. What is your suggestion?

[2017-07-12 21:42] cristijora commented on #253
@lionel-bijaoui Totally agree that there should be a another state which is the "initial" state before validating a field.
I don't think the api should change (validationSuccessClass, validationErrorClass are fine as they are)
How do you want to set this intermediate state ? I looked real quick and I don't think there is a way to distinguish between a field with no errors and a field that has been

[2017-07-13 04:57] gishan commented on #255
Thank you for the reply and i tried your solutions but it didn't work. can you please check this gif. i need a solution for this problem
https://media.giphy.com/media/xUA7b8Ixhl7NkkZZPq/giphy.gif
thank you

[2017-07-13 07:15] icebob commented on #255
It's weird, but I think it is not a vfg bug. You need to handle multiple ajax requests & responses in your validator func. Try for example with [lodash debounce](https://lodash.com/docs/4.17.4#debounce)

[2017-07-13 08:55] lionel-bijaoui commented on #253
I was thinking of using `abstractField.js` to add a data property `vfg_ValidationState` that track if the field have been run through the validator. At first, it is `false` and if the method `validate` is run, this property change to `true`.
The next change is in `formGenerator`, the method `getFieldRowClasses` need to change to use that new property to decide if it can apply an `error` or `succes

[2017-07-13 09:01] cristijora commented on #253
Seems ok. I would probably give it a different naming
Usually the following naming is used in many validation libraries
- touched -> true/false
- valid -> true/false

[2017-07-13 09:04] lionel-bijaoui commented on #253
Since this is used by all fields, I think we should at least namespace the internal properties with `vfg` or something like that.
So with your proposition, that would create `vfgTouched` and `vfgValid` (or `vfg_touched` and `vfg_valid`).
Is that ok for you @cristijora ?

[2017-07-13 09:06] cristijora commented on #253
That's fine I guess

[2017-07-13 13:48] lionel-bijaoui commented on #253
@icebob I have a hard time making this work.
`getFieldRowClasses` use a field but it is the schema definition of the field, not the Vue object itself.
You seem to save errors in a big array in `formGenerator`, and use that to access the good error by comparing the fields.

[2017-07-13 23:37] matevisky opened #258 "Datetimepicker documentation"
Please fix the datatimepicker component documentation on gitbook:
https://icebob.gitbooks.io/vueformgenerator/content/fields/datetime.html

change the code samples from dateTime to dateTimePicker
`type: "dateTime",   ===> type: "dateTimePicker",`

[2017-07-17 09:27] lionel-bijaoui opened #259 "Group are not flexible enough"
Hello @icebob @jmverges @dflock
I'm late to the party and I didn't really follow the work on groups.
Since working on #257 , I'm exposed to how group work and I have noticed a flaw in the current design.
I can't alternate freely between single field and group.
The only possibility is `fields -> groups`. I can't do the inverse (ex. `groups -> fields`) or anything else (ex. `field -> group -> field

[2017-07-17 19:23] icebob commented on #259
The current solution was the easiest way to implement it.
If you use groups as a type of field it is more complicated to implement in the `template`. Need to handle multi-level groups too.

[2017-07-17 20:08] icebob commented on #258
Thx, fixed

[2017-07-17 20:08] #258 closed

[2017-07-17 20:20] nijikokun opened #260 "Hide labels for hidden inputType"
Currently fields that have an `inputType: "hidden"` still have labels show and must manually be hidden via CSS.

I am confused by this decision, perhaps you can explain to me why it is this way or whether I am approaching this situation in the wrong manner?

[2017-07-17 20:29] nijikokun commented on #260
Sorry, this was my fault!

[2017-07-17 20:29] #260 closed

[2017-07-19 03:31] phuongtailtranminh opened #261 "Conflict .wrapper class with Paper Dashboard Template"
Hi,
I'm currently using Paper Dashboard Template for my project.
But it seems likes the `.wrapper` class is conflicted, it makes the input is very far away from each other.

![image](https://user-images.githubusercontent.com/12473996/28349435-0fd90fea-6c6d-11e7-92e3-79539e3a237b.png)

The problem was disappeared when I removed the `.wrapper` class inside `.field-wrap`

![image](https://user-images

[2017-07-19 03:47] phuongtailtranminh commented on #261
My current solution is using jquery is remove the class after mounted()

It look likes this:

[code]

I just want to know if there is any elegant solution

[2017-07-22 11:28] DelfsEngineering commented on #227
Sorry I am coming back to this, thank you for the help.
[This Fiddle shows the issue](https://jsfiddle.net/vw4jrtxc/)

I would expect to see 1 row with 3 fields in line at 1/3rd width because of the added:
`styleClasses : "col-md-4",`

Inspecting the field and disabling the width: 100% seems to fix issue. I have experimented with css order also.

![screen shot 2017-07-22 at 7 25 32 am](https://use

[2017-07-22 13:13] reusr1 opened #262 "using vue-form-generator with other css frameworks"
Currently vue-form-generator and some of the field types are bound to bootstrap.css. We're using another css framework in our application. It may be a good idea to set a theme in the options of vue-form-generator or a callback that allows for switching components between different frameworks

When rendering a form field this would allow for a resolution of what component to use to render the field

[2017-07-22 20:25] cesarmarinhorj commented on #238
pikadayOptions: {
onSelect: function(date){
		vm.model.myDate = date;
		console.log(date);
	}
}

[2017-07-22 20:57] cesarmarinhorj commented on #229
I am doing this with regexp, a simple a pattern resolves to me.

[2017-07-23 00:56] sjordan1975 commented on #238
@cesarmarinhorj Hi Cesar. Can you provide more explanation? What am I supposed to do with this information? Where does it go in the code? What is this reference to pikadayOptions? How is it passed/used? Maybe a fiddle would be useful.

Thank you

[2017-07-25 06:51] samuelstubbs opened #263 "Uncaught TypeError: n.bind is not a function"
Hello,

I'm having issue validating a form in conjunction with "vue-form-wizard" below is the component code:

[code]

[code]

when validateTab is triggered the below is returned in the console.

[code]

Any help would be appreciated.

Cheers,

[2017-07-27 12:23] lionel-bijaoui commented on #227
Ok, I understand, now ! Thank you for the fiddle and all.
The only solution I found is to add that bit of CSS. It is a bit cumbersome, since you have to do it for every class you want to use, but it work.
[code]
[updated fiddle](https://jsfiddle.net/vw4jrtxc/1/)

[2017-07-27 12:45] jarvelov opened #264 "Trigger validation on specific event"
Is there any way to trigger validation on a specific event, e.g blur, input etc.?

[2017-07-27 12:57] lionel-bijaoui commented on #263
Hello, @samuelstubbs , please add a working fiddle so we can help you.

[2017-07-27 13:05] lionel-bijaoui commented on #264
Since some fields don't use HTML input, blur or focus is not always available and we can't do that. For now, it is either at load, on value change or manual.
I guess you could work something with class to attach event to inputs, event that would trigger "manual" validation. Not sure it would work. Gook luck !

[2017-07-27 13:05] #264 closed

[2017-07-27 13:12] reusr1 commented on #262
thanks for the response. In our case we use http://materializecss.com/forms.html - in this case we for example had to replace the datepicker. I don't think it's the job of vfg to provide for all different types of css frameworks. What I think may be a good idea to be a bit more css framework agnostic in the basic components and allow 3rd parties to develop for different css frameworks.
While the a

[2017-07-27 13:47] lionel-bijaoui commented on #262
I'm able to do [that](https://jsfiddle.net/0mg1v81e/558/), which isn't too bad.

As for the date picker, there is no real solution.
Have you tried Pikaday or DateTimePicker ?

It is also fairly easy to [create your own fields](https://icebob.gitbooks.io/vueformgenerator/fields/custom_fields.html). You can use the core version, and add your own fields, with your own framework in mind. We encourage

[2017-07-27 13:57] reusr1 commented on #262
thank you for the example. We intend to share our custom components in the future. Will keep you posted

[2017-07-27 13:57] #262 closed

[2017-07-27 19:50] icebob commented on #261
Sorry, but currently there is no better solution. The style classes is hard coded.

[2017-07-27 19:50] #254 closed

[2017-07-27 19:54] icebob commented on #252
The `˛default` property is not used in vfg fields. It is used when you create a new model by schema.

https://icebob.gitbooks.io/vueformgenerator/content/model.html

[2017-07-27 19:54] #251 closed

[2017-07-28 12:05] zoutepopcorn commented on #252
I have the same issue.

Only solving it with using model

https://jsfiddle.net/zoutepopcorn/0Lj3w9au/1/

[2017-07-28 12:13] phuongtailtranminh commented on #261
Thank you 👍

[2017-07-28 12:13] #261 closed

[2017-07-30 00:57] DelfsEngineering commented on #227
That does not seem correct, surely everyone is experiencing this same issue, and if it is just me, then we should try and find out why. I think its only with the Width attribute

There are a lot of classes where its needed, since my forms are dynamic, they could have any bootstrap classes in them.

[2017-07-30 01:09] DelfsEngineering commented on #227
adding
`    width: auto;
    min-width: 0;
    display:table;`

seems to also work
[fiddle](fiddle: https://jsfiddle.net/uma78ekn/)

[2017-07-30 09:37] DelfsEngineering commented on #227
Changing veg.css and commenting out the width seems to fix this correctly.

`.vue-form-generator .form-group {
    display: inline-block;
    vertical-align: top;
    /*width: 100%;*/
    margin-bottom: 1rem
}
`

[2017-07-31 12:33] wgbbiao opened #265 "什么时候支持bootstrap 4"
什么时候支持bootstrap 4

[2017-07-31 13:09] cristijora commented on #265
I know there is google translate and this is equivalent to "When to support bootstrap 4" but please write the issue in English. What exactly is missing in your case?
https://jsfiddle.net/0mg1v81e/564/ this seems to look ok when importing bootstrap 4

[2017-07-31 23:14] lionel-bijaoui commented on #227
[this bit of CSS](https://github.com/icebob/vue-form-generator/blob/master/src/formGenerator.vue#L367) should prevent that, but it is clearly not working how it is supposed to be.
@icebob Can we remove it ?
@DelfsEngineering You also have the choice of not including vfg.css.

[2017-07-31 23:17] DelfsEngineering commented on #227
I do need vfg.css for the validation and error classes though.

[2017-07-31 23:18] lionel-bijaoui commented on #227
You can just copy and paste what you really need, and redo that part. It's literally one line to change...

[2017-07-31 23:19] DelfsEngineering commented on #227
Correct, I have copied the file and edited it locally (out of the modules folder) as a working interim.

Regards
Charles Delfs

www.DelfsEngineering.ca <http://www.delfsengineering.ca/>
Ph: (289) 231-6365

[2017-08-01 03:52] DelfsEngineering commented on #227
Would this be caused by processing the `css` as `css` and not `sass`?

[2017-08-02 08:50] jmverges opened #266 "selectOptions name and value are not working"
Hi, I'm not able to get working selectOptions name and value. Could anyone check it?

[2017-08-02 15:44] lionel-bijaoui commented on #266
Can you do a fiddle ?

[2017-08-03 14:39] imylomylo opened #267 "Advice please: Click button to add another text input (like adding a row of table) and binding"
Hi Icebob,

Cool component.

Just wondering where I'd go from this example:
https://jsfiddle.net/imylomylo/xqu5mraq/2/

I'm trying to add rows to the form, like adding a row to a table - doesn't have to be elegant.
Any suggestions on how to go about it?

Cheers

[2017-08-04 07:40] ruhag opened #268 "property label as function"
Is it possible to have the "label" property dynamic instead of a string? To have it like required etc. where String and a function is possible.

[2017-08-04 18:04] wahiche opened #269 "Custom Validators"
I am trying to create a custom validator to test if passwords match when a user is signing up.

`confirmPasswordValidator(value, field, model) {
    let pass = model.password;
    let confPass = value;
    if (pass != confPass) {
        return ["Passwords don't match."];
    } else {
        return [];
    }
};`

When I submit my form I have a submit button created like this:

`{

[2017-08-08 21:18] DelfsEngineering commented on #264
Could this be handled with a custom component?
Perhaps the custom component can fire an event or soemthing? What would it need to fire to trigger the custom validation validation code?

[2017-08-08 21:52] cristijora commented on #264
@DelfsEngineering you can see the example here https://jsfiddle.net/0mg1v81e/607/
Upon value changing, each field calls a method `validate()` which is available in the `abstractFieldMixin`
You could use that on your custom component to trigger validation for your field whenever you need it (e.g blur or other kind of event)

[2017-08-09 03:34] DelfsEngineering opened #270 "ability to add another field set in an array"
What is the best way to handle scenarios where you have a few fields grouped and form an address, and want to add _another_ address. Eg. Work then home the cottage etc.

Typically you would see a [+] plus button that would create another row of fields for the user.

[2017-08-09 04:57] MatthiasHertel commented on #243
i have the same issue ... to fetch the input values for the form the input needs a name attribut

[code]

render only:
[code]

[2017-08-09 08:10] bhupender005 commented on #243
Yup
Figured better way to get data, that's by using VueJS declared variables directly i.e. model name "facilities_tech"

[2017-08-09 12:04] MatthiasHertel commented on #243
yae i hacked it with a formdata append , see below, otherwise i had no data in the form ...
do u have a better solution for that ?

[code]

[2017-08-10 12:34] ChadTaljaardt commented on #256
Is there any update with this? I need this too.

[2017-08-10 13:08] Eduardoveras commented on #256
@ChadTaljaardt No updates, the only way is bad hacks and modifying the schema in real time

[2017-08-11 16:39] alexandermendes commented on #223
I was just looking for the same thing, surely this works:

[code]

https://vuejs.org/v2/guide/events.html#Key-Modifiers

[2017-08-13 21:15] DelfsEngineering opened #271 "clear fix needed for validation error message corrupting columns"
In a form that has validation error messages, the error height affects the layout of the columns and makes the for look bad. Normally  bootstrap class `clearfix` fixes this issue by allowing the next row to start fresh. How can this be added tho VFG?

I have tried a custom component and that partially works but there is added unneeded space created by it and that also does not look good.

[2017-08-13 22:59] DelfsEngineering commented on #264
@cristijora Thanks, That works for text inputs, what can I use for Radio Buttons? I think that is more common too for conditional forms.

[2017-08-14 03:51] sbansal6 opened #272 "Is it possible to have fields inline"
Example
Name  ____________   LastName ______________

[2017-08-14 07:35] cristijora commented on #256
The only way I know how to do it is to search the field inside the schema
https://jsfiddle.net/dhv2txz9/14/

`var nameField  = this.schema.fields.find(field => field.model === 'name')` and then adjust it the way you need. You can make a helper function for example and give it the model name,

`getField(this.schema, 'name')`

[2017-08-14 12:37] Eduardoveras commented on #256
Thank you! this seems to fix the problem

[2017-08-15 14:36] pjaer commented on #131
Anybody had any luck with this? I believe it is still around, as I'm experiencing it. Thanks

[2017-08-16 21:21] sebastianmacias opened #273 "Validation Not Working"
Hi,

I'm using the following code in my .vue file (taken from the example adapted for nuxt):

[code]

Even though it renders the form perfectly, the validation doesn't do anything. It doesn't highlight the password field when empty and it doesn't display the error message.

Any advice will be appreciated.

[2017-08-17 13:51] ChadTaljaardt opened #274 "Issue with styling because of "wrapper""
Hello,

I'm having a few issues with the styling of this plugin because of "wrapper".

I'm incorporating this plugin into my website and this is what the issue looks like:

![issue1](https://user-images.githubusercontent.com/13891249/29415545-4ad73c0c-835b-11e7-83d8-6ccb8a8c64d0.png)

There is a big space between the name of the field and the component "textbox"
[code]

Here is a picture of the er

[2017-08-21 07:10] cristijora commented on #273
Hi @sebastianmacias I don't see the `vfg` styles being imported. You can see in the docs that they are imported upon installation
https://icebob.gitbooks.io/vueformgenerator/content/installation.html

`import "vue-form-generator/dist/vfg-core.css";`

That's probably why it "doesn't work" since the errors are not visually shown. Try to inspect the html and see if validation classes are added on you

[2017-08-21 21:16] sebastianmacias commented on #272
I'm needing this as well, being able to use horizontal and vertical layouts.

[2017-08-22 04:04] ndro commented on #263
+1

[2017-08-22 16:13] EmmaAkin opened #275 "using vueformgenerator with veevalidate"
The fieldset tag in the **vueforgenerator** does not load the element when **veevalidate** plugin is used.
And no error is displayed in the console even when all conflicts are resolved with this fix.
`const config = {
  errorBagName: 'errors', // change if property conflicts.
  fieldsBagName: 'fields',
  delay: 0,
  locale: 'en',
  dictionary: null,
  strict: true,
  classes: false,
  classNames:

[2017-08-24 02:24] ndro opened #276 "[Vue-warn] when using custom fields"
Sampurasun!

Trying to create custom fields like [this](https://icebob.gitbooks.io/vueformgenerator/content/fields/custom_fields.html), it works perfectly. But, when I am looking on 'inspect element --> console' this [Vue-warn] was appear:

[code]

It's happen when create 'input text' and 'textarea'. This is an example code of custom fields fieldCustomInput.vue:

[code]

And I tried to defined 'fo

[2017-08-24 09:07] lionel-bijaoui commented on #276
It is not your fault, I think.
In [`abstract.js`](https://github.com/icebob/vue-form-generator/blob/master/src/fields/abstractField.js#L51), there is a check to see if `formatValueToModel` exist as a method. This is a way for custom field developer to format `value` how they want, if needed.
I think that check trigger `[vue-warn]`, but it is not a problem. In production, this message should not ap

[2017-08-24 09:16] lionel-bijaoui commented on #274
Sorry a wrapper div is necessary for most fields, since template must start with a single element.
Good luck !

[2017-08-24 09:36] lionel-bijaoui commented on #275
VFG doesn't work with veevalidate unfortunately

[2017-08-24 09:36] #275 closed

[2017-08-24 09:41] lionel-bijaoui commented on #272
Well, you could add a `display: flex;` to `.form-group` and work from this. This has more to do with CSS than VFG.
Good Luck !

[2017-08-24 09:41] #272 closed

[2017-08-24 09:44] lionel-bijaoui commented on #131
@voughtdq Can you please give us an update about this ? Did you managed to fix this ? If yes, how ? Thanks !

[2017-08-24 09:51] #256 closed

[2017-08-24 09:55] lionel-bijaoui commented on #270
Your best solution is to look into [custom fields](https://icebob.gitbooks.io/vueformgenerator/fields/custom_fields.html) and implement this yourself.
Good luck !

[2017-08-24 09:55] #270 closed

[2017-08-24 14:01] voughtdq commented on #131
I never figured it out - sorry :(

On 08/24/2017 05:44 AM, lionel-bijaoui wrote:

[2017-08-24 18:24] cristijora commented on #269
See this example
https://jsfiddle.net/0mg1v81e/695/

Add `v-on:submit.prevent` modifier on your form to prevent submit and make sure your `data` is a function so `this.onValidated` will call the appropriate function

[2017-08-24 18:25] wahiche-architech commented on #269
I will try that out later tonight.  Thanks.  I will let you know if it did not work.

[2017-08-25 13:46] anzolo opened #277 "Don`t work vueMultiSelect field"
Hello!

Try to use vueMultiSelect field. vueMultiSelect installed via npm correctly.

`import VueFormGenerator from "vue-form-generator";
import Multiselect from 'vue-multiselect'

Vue.component("FieldVueMultiSelect", Multiselect);

Vue.use(VueFormGenerator);

Vue.use(Vuedals);

const app = new Vue({
  el: '#app',
  template: '<App/>',
  router,
  store,
  components: {
    App
  }
})`

in schema:

[2017-08-25 14:24] anzolo commented on #277
I found the issue. I have to register global component as:

`Vue.component("multiselect", Multiselect);`

[2017-08-28 11:17] Aterr opened #278 "Select option id + name without a function"
Hi there!
Having trouble with setting values in options.
I am getting all data from the server and trying to build json schema based on server response. The trouble I faced, is that I cannot set any values inside option. The value is always empty.

The structure is:

[code]

I would be very thankful for any help.

[2017-08-28 11:31] cristijora commented on #278
Check out this example
https://jsfiddle.net/0mg1v81e/709/

First time you run it, the select values will contain one value "Loading values..."
After 2s the values should be populated with a list of values
[code]

[2017-08-28 11:54] Aterr commented on #278
Oh, figured it out. I screwed with selectOptions.value :/
@cristijora thank you m8 for help!

But I have another probably stupid question...
How to set first option selected ?

[2017-08-28 12:03] Aterr commented on #252
+1 to @zoutepopcorn

[2017-08-28 12:46] cristijora commented on #278
Well I assume your fields/schema will be retrieved as you said from the server.
https://jsfiddle.net/0mg1v81e/714/
You can set the model value if you know the field "model"
`this.model[selectField.model] = selectField.values[0]`

[2017-08-28 12:49] Aterr commented on #278
@cristijora Thank you! Gonna try it now :)

[2017-08-28 13:15] #278 closed

[2017-08-28 16:36] jamestowers commented on #259
This would be a nice feature, you could potentially set the group tag and className so you're confined to `fieldset`, eg:

[code]

[2017-08-29 21:29] Aterr commented on #273
Hi there!
I am having same issue. Just checked the html markup, and it does not changing after any manipulations with fields. I am retrieving the data from the server, after it I render the form with validation rules, but...the result is unexpected. Its like ignoring those properties.

[2017-08-30 04:35] GreymondTheLong opened #279 "Switch styling doesn't work"
I was trying to get the switch field working correctly. It renders as a normal checkbox and only had the correct styling after I included the css file [referenced on the jsfiddle demo](https://unpkg.com/vue-form-generator@2.0.0/dist/vfg.css)

[2017-08-30 08:09] Aterr opened #280 "Is there any way to validate all form elements in the form ?"
Hi guys!
Just got stucked with fields validation inside generated form. I have a bunch of selects/checkboxes  etc. inside my form. And I would like to ask if there is a best practice way to validate those elements. As I looked through validation options, there are no any news about select validation, for example.
or maybe there is a way to use side validation plugin with vfg ?

Would be very pleas

[2017-08-31 08:59] jionlab205 opened #281 "Quick Question - array"
with this nice component, can I edit for array of  model ( same as array of json schema)
Even I looked out whole document, I could not find this matters.

Thanks In advance

[2017-08-31 11:15] pjaer commented on #131
I updated to the latest vue-cleave and it solved it for me, except on mobile chrome.. there it still doesn't work

[2017-09-01 00:43] elamotte opened #282 "Looking for a good way to override behavior of VFG?"
I want, to replace the help tooltip behavior by a modal. I wonder what should be the best approach to do it properly, of course I could use vanilla js to modify DOM on render for each help icon, but I'm affraid it could be a bit heavy.
Anyone as found a good way to do something like that before?

[2017-09-01 13:03] random-one commented on #276
I have the same issue. Trying to use datePicker from `vue-strap`.
Whole field component code:
[code]

Nothing special and I see the warning too.

[2017-09-04 08:39] icebob commented on #282
Sorry, but currently there is no good way to change the template of vfg.

[2017-09-04 08:40] #263 closed

[2017-09-04 08:40] #265 closed

[2017-09-04 08:40] #266 closed

[2017-09-04 08:41] icebob commented on #268
PR welcome

[2017-09-04 08:41] #268 closed

[2017-09-04 08:42] #269 closed

[2017-09-04 08:43] icebob commented on #271
Could you make a PR with the fix?

[2017-09-04 08:47] icebob commented on #279
Could you make a jsfiddle?

[2017-09-04 08:48] icebob commented on #280
In vfg, the validator is a simple function. So you can write your custom validator functions, which check your selects.

[2017-09-04 08:51] icebob commented on #281
Yes you can. In the [full example](https://github.com/icebob/vue-form-generator/blob/master/dev/full/app.vue#L163) there is an example for select & edit multiple models.

[2017-09-04 08:58] #273 closed

[2017-09-04 09:00] icebob commented on #267
Currently, this is the best solution to modify the schema dynamically.

[2017-09-04 09:00] #267 closed

[2017-09-04 20:34] sebastianmacias commented on #273
@cristijora thanks for the tip

[2017-09-06 04:52] GreymondTheLong commented on #279
I modified the original jsfiddle and removed the css file.

https://jsfiddle.net/gfg3Lmw4/

[2017-09-06 20:30] elamotte commented on #282
Thanks for your answer, I finally made it with JQuery hook. Not perfect but in the meantime I prefer that and keep the possibility to update future versions of VFG.

[2017-09-07 16:02] Kraska-8 opened #284 "Not changing language at the form"
Im using vue-i18n module to dynamically change language on the pages, but  text in generated form doesnt changed, only if I  refrech the page or go to other router page, how can I dynamically change text data in vue-form-generator?

[2017-09-08 15:17] cristijora commented on #280
Selects either return a string or an array of strings/objects. Based on that you could use required validator for example or simply compare the value.

[2017-09-09 17:05] ericpyle opened #285 "Render groups as bootstrap tabs"
Wishing I could use groups to render the form in a different way, like with each section having it's own tab. I could have multiple vfg instances with one form per tab. Or maybe I could use multi attribute to just hide all fields that are not in that tab.

Thoughts on best way to do this?

[2017-09-10 00:50] ericpyle commented on #285
Or use visibility function that can somehow determine which tab is in use?

[2017-09-10 00:56] DelfsEngineering commented on #285
This works great:
Take your source schema and insert a function for the `visibility` field key's value

So if you want to show/hide field(s) based on the value of another field set their visibility to a function like

[code]

of course use what ever logic you want now.

[2017-09-10 00:58] DelfsEngineering commented on #285
For tabs see `vue-form-wizard` here https://github.com/cristijora/vue-form-wizard

[2017-09-10 19:40] #280 closed

[2017-09-10 23:22] sjsiegel001 opened #286 "no 'name' attribute?"
it would be nice if there was a name attribute for each field

[2017-09-10 23:25] DelfsEngineering commented on #286
You can add any additional keys to the `schema.fields` object.
Then in your custom component reference it with `this.schema.myKey`
What is your use case?

[2017-09-10 23:42] sjsiegel001 commented on #286
Thanks for the quick response. I'd like to submit the form traditionally without AJAX. Could you provide an example of this technique?

[2017-09-11 01:27] sjsiegel001 commented on #286
To anybody else interested, here's the solution I've come up with. It's definitely not ideal but it's a cute little jQuery fix:
`updated: function () {
            $('input').each(function(i, obj) {
                var inputid = $(this).attr('id');
                $('input').attr('name', inputid);
            });
        }`

[2017-09-12 09:31] FranckFreiburger opened #287 "Vue warn: The computed property "errors" is already defined in data"
Hi,
I get the following Vue warning when I test your [main example](https://github.com/icebob/vue-form-generator#usage):
 ` [Vue warn]: The computed property "errors" is already defined in data.`

(using Vue 2.4.2)

[2017-09-12 09:58] DelfsEngineering commented on #287
If you have a computed property, you do not need to define it again in your data. The same goes for props.

[2017-09-12 10:46] FranckFreiburger commented on #287
Thanks for the clue, `vee-validate` also defines `errors` .

[2017-09-12 10:46] #287 closed

[2017-09-12 20:30] ericpyle commented on #285
@DelfsEngineering thanks so much for the suggestions! I'll definitely take a harder look at the vue-form-wizard.  Know of any examples of how to make the tabs look like regular bootstrap tabs?  It's possible that I could rethink whether my app should have more of a guided wizard UX, but converting my app over to how it currently works would be great.

[2017-09-12 20:32] ericpyle commented on #285
@DelfsEngineering also, do you know of any examples of how the multi field and multiple option is used in practice? I see what the documentation says, but I suspect there's a use-case or use-cases behind supporting that and the merge logic that respects multi.  Thanks again for any help!

[2017-09-12 20:34] DelfsEngineering commented on #285
I suppose the best you could do without forking `vue-form-wizard` is some injected CSS, or hacking the accompanying CSS.

[2017-09-12 21:57] cristijora commented on #285
Hey @ericpyle
For tabs
https://github.com/spatie/vue-tabs-component
https://github.com/cristijora/vue-tabs

For a more strict flow/wizard
https://github.com/cristijora/vue-form-wizard
The wizard supports tab layout, however they do not act like tabs since the wizard has a stricter validation flow (e.g you can't click a tab unless it was visited and validated)
https://jsfiddle.net/bt5dhqtf/99/

If

[2017-09-13 14:35] ericpyle commented on #285
Thanks, @cristijora. I'll look into integrating vfg with the other tab components and also ask my team whether we want to move toward a wizard approach.

@DelfsEngineering I still have an outstanding question about use cases for `multi` and `multiple` in vfg, if anyone cares to share?

[2017-09-13 14:37] cristijora commented on #285
@ericpyle you mean multi select ?

[2017-09-13 15:22] joshdstockdale opened #288 "<fieldset> breaking flexbox"
I'm using a minimal flexbox grid for laying out my forms and <fieldset> is breaking it, as most browsers treat <fieldset> as a form input.

Can we do any of the following in the next release?
a) remove fieldset if legend is not specified
b) remove fieldset if not in groups
c) add an extra div inside fieldset to which we can assign a class

[2017-09-13 16:55] ericpyle commented on #285
I mean multi field property "if true, it will visible only if multiple is true in component attributes" https://icebob.gitbooks.io/vueformgenerator/content/fields/field_properties.html

[2017-09-13 16:55] ericpyle commented on #285
@cristijora see reply above. Thanks!

[2017-09-13 17:59] cristijora commented on #285
@ericpyle Honestly not sure to what it refers. I've used the `multiple` property only on multi-select field which has [vue-multi-select](http://monterail.github.io/vue-multiselect/) behind it.
Maybe @icebob could answer to this.

[2017-09-13 22:25] Eder87rh opened #289 "there is language options?"
there is language options?

[2017-09-14 03:38] amoshydra commented on #286
This issue https://github.com/icebob/vue-form-generator/issues/78 seems to suggest that input field should come with a name attribute already. However, that's not the case in my testing.

[2017-09-14 20:55] #282 closed

[2017-09-15 07:27] dastiw1 commented on #227
icebob please change  in css `.vue-form-generator .form-group` to  `.vue-form-generator .form-group:not([class*="col"])`

[2017-09-15 10:02] dastiw1 commented on #225
@icebob It works for me. Thank you. I don't know how to send pull request)

[2017-09-15 14:12] ymoreiratiti commented on #288
Me Too

Using VueJS 2 with Webpack and bootstrap 4

[2017-09-16 20:22] envision opened #291 "Form demo missing submit button"
Shouldn't this plugin's main demo be a practical form, that has a submit button?

[2017-09-17 07:37] icebob commented on #291
https://github.com/icebob/vue-form-generator/tree/master/examples/post-form

[2017-09-17 17:27] ustbhuangyi opened #292 "Inside buttons default type"
According to w3c standard, the button default type is submit,  we can't modify the button type via inside buttons, so the property 'type' is required to be configured, user can configure the button type as he wants.

[2017-09-18 14:14] akeyliu opened #293 "Can CheckList/Radio Button Provide Disable option?"
Thank for your contribution, and Vue-Form-Generator is now used in my project,
But I have a new requirement to use checklist but only name/value is provide.
As the requirement need some disabled checkbox in checklist, which disable is the basic attribute in the checkbox,
So, Can you add new option of disabled like name/value options?
Thanks.

By the Way, we update the error message of validation t

[2017-09-19 01:08] akeyliu commented on #289
I found a solution to modify the vfp_core.js in dist directory.
You can just search and modify the error message with you want, i.e. Chinese Version.

[2017-09-19 10:35] blendsoft opened #294 "How to add class to submit button ?"
How to add class to submit button ?

[2017-09-19 11:36] vuchl commented on #294
use the `styleClass`property in the schema: https://icebob.gitbooks.io/vueformgenerator/content/fields/field_properties.html

[2017-09-19 13:55] blendsoft commented on #294
It adds to .form-group, not button.

[2017-09-19 15:34] vuchl commented on #294
You are correc. and from looking at the code there is no way to bind classes to any of the fields.

[2017-09-19 18:21] vuchl commented on #294
Maybe #295 will be merged and solves your issue. you now can specify the `classes` array in the `schema` .

[2017-09-20 12:17] ChadTaljaardt opened #296 "Wrong issue"
Please Remove

[2017-09-20 12:49] #296 closed

[2017-09-21 00:43] #293 closed

[2017-09-21 13:03] zhang-yafei commented on #195
@icebob Thank you

[2017-09-21 15:02] WillWei1983 opened #297 "how to generate the horizontal form"
Hi,
It seems that it didn't support the horizontal form yet, right?
Any plan to support it?

[2017-09-22 00:54] #297 closed

[2017-09-22 05:02] andy265 commented on #289
You can overwrite variable "resources" (defined at /src/utils/validators.js).
Example of overwriting a "fieldIsRequired" message:

[code]

[2017-09-23 21:13] carvalhoviniciusluiz opened #299 "how to make page break"
Hello
how do you create different regions of fields equal to a page break

it's possible?

[2017-09-23 21:55] DelfsEngineering commented on #299
I created a clearfix custom component for bootstrap css but I would also like to know what best practices are.

[2017-09-26 02:24] DelfsEngineering opened #300 "Checkbox value display"
The checkbox example does not have a value, just a label. Since the label appears above the checkbox, the check has no context to meaning. Is it possible to add styling to the box as well as a text defining its purpose vs a label?

![screen shot 2017-09-25 at 10 22 48 pm](https://user-images.githubusercontent.com/11218557/30839463-16d029d8-a240-11e7-8b7c-3399ee21a322.png)

[2017-09-26 08:59] lionel-bijaoui commented on #288
You can already do better
[code]

[2017-09-26 08:59] #288 closed

[2017-09-26 12:57] DelfsEngineering commented on #271
I think it would be better to look more at the idea of the best way to provide a clearFix style class or component. I have created a custom component for this issue but it still has some additional wasted space around it.

Perhaps we could start a collection / repo of custom components?

[2017-09-26 18:47] DelfsEngineering opened #301 "Passing calcs into params like 'visible'"
I have a use case where I dynamically (from server) convert a calc into a  function into some schema nodes. This works great.

I want to use a library to parse JSON and have that help decide visibility etc...

Is there a way I can reference modules (dynamically) or perhaps more the question, what is the context that the function would get called (so I could perhaps reference any modules needed?

[2017-09-26 20:20] DelfsEngineering commented on #301
Actually for future reference, you can tie any needed libraries to the window

[2017-09-26 20:20] #301 closed

[2017-09-29 12:26] ramiy opened #302 "Enhancement: Add new field property - conditions"
The `conditions` property should control the field visibility. The field will be displayed only if the conditions are met.

Usage:

[code]

In this example, the second field will be displayed only if the first field equals true.

[2017-10-02 21:29] OgaBoss commented on #287
@FranckFreiburger, Please how did you resolve this ? Facing the same issue right now.

[2017-10-03 06:37] RIanDeLaCruz commented on #100
Somehow, I'm still getting errors.

Using Vue 2.3.3, Vue Form Generator 2.0.0, Vue Multiselect 2.0.3

[2017-10-03 07:26] FranckFreiburger commented on #287
I just removed my dependency to `vee-validate` that also defined an `errors` property.

[2017-10-03 07:53] OgaBoss commented on #287
@FranckFreiburger so you mean it not possible to use `vee-validate` and `vue-form-generator` in the same project ?

[2017-10-03 21:35] ekingery commented on #279
For anyone else who is having this issue, here is how I was able to resolve it in my `src/main.js`:

`import "vue-form-generator/dist/vfg.css";`

[2017-10-04 10:38] RIanDeLaCruz opened #304 "No docs folder"
Hi @icebob

I was wondering where the documentation is? Was going to make a PR to add documentation on some components but I couldn't seem to find where the docs reside
Thanks

[2017-10-04 10:42] icebob commented on #304
The docs is on gitbook.

https://icebob.gitbooks.io/vueformgenerator/content/

You can login to gitbook make changes & create PRs, same as on github.

[2017-10-04 10:59] RIanDeLaCruz commented on #304
Thanks!

[2017-10-05 12:32] lionel-bijaoui commented on #279
I'm sorry but I don't understand where is the problem.
If you remove the style, of course it will not be styled.
It fallback to checkbox but still work as intended.
Like @ekingery said, if you want the style, you need to import it.

[2017-10-05 12:32] #279 closed

[2017-10-05 12:32] #304 closed

[2017-10-05 12:38] lionel-bijaoui commented on #284
I'm afraid there is no real solution yet.
My guess is that the reactivity is broken somewhere and vue-i18n render the translation as the string once.
I would like to improve i18n and validation in the next version of VFG but this is just wishful thinking for now.
Sorry, I can't help you.

[2017-10-05 12:40] #281 closed

[2017-10-05 12:42] DelfsEngineering commented on #284
Could you not force a refresh of the schema, or re-add the reactivity via running it through a computed property or use cue.set as in here? [Vue reactivity](https://vuejs.org/v2/guide/list.html#Array-Change-Detection)

[2017-10-05 12:42] lionel-bijaoui commented on #223
@gabrielstuff Any progress on this ?

[2017-10-05 15:17] ekingery commented on #279
I think the problem stems from the documentation, which never explicitly states that you need to import the CSS for the non-core package. I created a PR for this, hope that helps!

https://github.com/icebob/vue-form-generator/pull/305

[2017-10-06 14:34] icebob commented on #302
You can do it with `visible(model) { ... }`

[2017-10-06 14:38] DelfsEngineering commented on #302
I think that idea is far too complicated an limiting. Instead replace the attribute value you want to control  `visible, readOnly ...` with a `function` that evaluates the truthiness of the condition. Then it can control anything.

[2017-10-06 14:45] #289 closed

[2017-10-06 14:47] #302 closed

[2017-10-06 14:49] icebob commented on #286
You can set `name` attr with `inputName` prop in schema
https://github.com/icebob/vue-form-generator/blob/master/examples/post-form/main.js#L49

[2017-10-06 14:49] #286 closed

[2017-10-06 14:49] icebob commented on #233
Hint can be function after #303

[2017-10-06 14:49] #233 closed

[2017-10-06 14:51] icebob commented on #253
What is the status of this? Still `in progress`?

[2017-10-06 14:53] icebob commented on #292
PR welcome!

[2017-10-07 12:08] Zyles opened #306 "Quasar framework support"
Would be sweet if this could be made compatible with the Quasar framework to render its components.

Right now it spits them out with no style if I include it.

[2017-10-09 08:10] huoxudong125 opened #307 "Is there a office way to import jquery etc. for vue-form-generator"
I want to use rangeSlider  components ,but it depend on third libraries .  Is there a graceful(office) way  to import the other library.

can use the way to import the jquery?
[code]

and how import into the vue file as local compment.
Many thanks for you!

[2017-10-09 12:03] icebob commented on #32
TODO: add link to README & Docs

[2017-10-09 12:21] #168 closed

[2017-10-09 12:27] #203 closed

[2017-10-09 12:27] #213 closed

[2017-10-09 12:35] #225 closed

[2017-10-09 12:46] #229 closed

[2017-10-09 12:49] #238 closed

[2017-10-09 12:49] #239 closed

[2017-10-09 12:57] #252 closed

[2017-10-09 12:59] #255 closed

[2017-10-09 13:20] Alex-Sokolov opened #308 "Creating custom fields require formatValueToModel method"
Creating custom fields require `formatValueToModel` method.
If no method there is a console error.
Maybe if no method available just use value? Now needed to add:
[code]

[2017-10-09 13:27] sjordan1975 commented on #231
Hello, my bounty offer has been open and hanging out there since June. If this issue is not going to be fixed, please close it and tag "won't fix", so that my bounty offer can be closed.

Cheers

[2017-10-09 13:41] #308 closed

[2017-10-09 13:43] icebob commented on #276
Fixed

[2017-10-09 13:43] #276 closed

[2017-10-09 14:12] icebob commented on #284
You can do it with VFG. Here is an example [fiddle](https://jsfiddle.net/icebob/de2yc74c/)

[2017-10-09 14:12] #284 closed

[2017-10-09 14:13] #291 closed

[2017-10-09 14:23] icebob commented on #299
Please explain and create a fiddle.

[2017-10-09 14:25] icebob commented on #300
What do you want exactly? Please explain.

[2017-10-09 14:28] icebob commented on #306
Could you show a screenshot?

[2017-10-09 14:31] icebob commented on #307
I think you can use the following solution:
[code]

[2017-10-09 14:44] DelfsEngineering commented on #299
This is my clearfix.vue custom component. I use it and build forms dynamically. When the for designer needs to add a horizontal break they can simply use 'clearfix' as the component type.

[code]

[2017-10-09 15:30] ericpyle opened #309 "validateAfterLeaveOrPressedEnter?"
I'm a little confused by the current field validation options.

There is validateAfterLoad, and validateAfterChanged (as user types).

How can I validate a field only after a user leaves the control or presses enter (which I believe is the typical way that field validators work?)  I don't really want to bother the user that what they are typing is invalid until they are finished typing it and read

[2017-10-09 22:03] glowens commented on #203
I see this is closed but I am having the same problem.

[2017-10-09 22:22] ericpyle commented on #309
Also, if I am asynchronisly validating a text box as the user types, how do I cancel all but the last validation when the user stops typing?

[2017-10-10 04:00] DelfsEngineering commented on #300
The initial post has a screen of the how the checkbox sits below the label. This is bad UI, what do you recommend?

I think the checkbox should be to the left of the label.

[2017-10-10 13:33] ericpyle commented on #309
Perhaps there is a way for vfg to integrate https://lodash.com/docs#debounce for text inputs ?

[2017-10-10 13:37] #243 closed

[2017-10-10 13:41] icebob commented on #309
You should integrate debounce to your async validator.

[2017-10-10 13:45] icebob commented on #231
Are there anybody?

[2017-10-10 14:55] ericpyle commented on #309
@icebob thanks for that suggestion. The examples I had seen with debouncer were trying to control data, but using it to just control the validation should work.

[2017-10-10 16:40] ericpyle commented on #309
@icebob having some success, but not quite with _debounce(). Now the error message does not get reported until after I start typing a second time.  Is the _debounce() promise not quite what you expected or am I doing something not right?

[code]

After typing 123456, I hit a breakpoint in my debounce callback, and it returns [error_message]
![image](https://user-images.githubusercontent.com/112556

[2017-10-10 17:59] icebob commented on #309
Would be good a jsFiddle with this issue in order to we can investigate it.

[2017-10-10 18:08] #307 closed

[2017-10-10 19:26] ericpyle commented on #309
@icebob here's a jsFiddle to reproduce the issue
https://jsfiddle.net/ericpyle/rnsgn2ng/

[2017-10-10 19:32] icebob commented on #309
Great, thanks!

[2017-10-10 19:49] ericpyle commented on #309
Thanks, @icebob

Also wanted to report that sometimes I still get multiple errors:
![image](https://user-images.githubusercontent.com/1125565/31407327-2cebed52-adca-11e7-8360-34766512a311.png)

[2017-10-11 06:18] Alex-Sokolov commented on #309
That's really needed. Now after typing every char starting validation and UI freeze for some time

[2017-10-11 09:12] icebob commented on #131
Fixed by @hansi90

[2017-10-11 09:12] #131 closed

[2017-10-11 09:35] icebob commented on #309
Hi @ericpyle,
I tested and it seems vfg validation can't work properly with lodash debounce. :(

[2017-10-11 10:14] icebob commented on #309
I started to add debouncing to vfg in validation process. I think it will solve your problem.
[Fiddle](https://jsfiddle.net/icebob/kdhpdbzr/1/)

[2017-10-11 13:40] arunjoseph opened #313 "Not able to validate groups in form-generator"
`<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Telecoms Questionnaire Form</div>
            <div class="panel-body">
                <form-wizard @on-complete="onComplete"
                             color="gray"
                             error-color="#a94442">
                    <h2 slot="title">Telecom Survey</h2>

[2017-10-11 13:46] lionel-bijaoui commented on #284
Yes, you can do it, but it is not compatible with vue-i18n API. Not a big problem, but I want to fix that.

[2017-10-11 14:18] Zyles commented on #306
Quasar uses unique components like `<q-input>` so you would need to map or provide a wrapper I think.

![form](https://user-images.githubusercontent.com/1741593/31446046-d96a72e4-ae9f-11e7-86ae-9ea2ddb7db26.png)

[2017-10-11 14:40] ericpyle commented on #309
@icebob yes that seems to work just fine and I no longer see multiple errors being reported. how do you recommend I get a version of vfg with the fix?

[2017-10-11 14:52] icebob commented on #309
This week I will make a new release.

[2017-10-11 14:54] ericpyle commented on #309
@icebob thanks

[2017-10-11 14:57] ericpyle commented on #285
as far as this issue goes, I'm ready to close it. I think if needed, I could have one vfg instance that gets reloaded each time a user switches tabs.

@icebob before I close this, could you please explain what the `multi` field property is used for in conjunction with `multiple` vfg option? I've seen the documentation, but I haven't seen working examples to help me understand what it's used for

[2017-10-11 17:32] JakubSurfer opened #315 "validate after submit"
I think that there was a topic like that however I haven't found an answer.

Is there any method to validate form after submission ? I know there are validateAfterLoad, validationAfterChanged and onValidate event but in this case it doesnt get the job done. I simply want to validate form and display errors.

[2017-10-12 05:31] JakubSurfer commented on #315
I have found that there is input type submit so no help needed.

[2017-10-12 07:14] #315 closed

[2017-10-12 07:14] icebob commented on #313
Please create a reproduceable fiddle.

[2017-10-12 07:16] icebob commented on #306
In this case I think vfg won't work with Quasar. Just if you create custom fields which uses the `q-` components.

[2017-10-12 10:23] icebob commented on #179
I think this convertion is not part of vfg, you should convert these bool values in your code.

[2017-10-12 10:28] hansi90 commented on #179
You can define a "get" method in schema, where you can convert the model value.

[code]

[2017-10-12 10:30] #172 closed

[2017-10-12 10:35] sjordan1975 commented on #179
@icebob I have to respectfully disagree with you because of the "type" checkbox.

If in the schema I define the model to be a checkbox, then by definition, the semantics of the model means it **must** be a boolean. IMO, the component should respect that assertion.

In engineering it's referred to as [The Law of Least Astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment): "..

[2017-10-12 11:21] theKhorshed commented on #226
This would be really a nice addition!

[2017-10-12 11:47] #309 closed

[2017-10-12 15:46] lukeramsden commented on #226
Yeah had to ditch VFG because of this, was using it to create order forms but couldn't create dynamic rows.

[2017-10-12 15:50] lukeramsden commented on #226
But how do you know where to insert the new row? I have plenty of fields before and after the dynamic row set, and potentially multiple dynamic sections.

[2017-10-12 15:52] DelfsEngineering commented on #226
Well your code that the button runs need context. if you want to add a line item row then the add new row button just has to push onto the array. I have created custom components for various array like rows. By pushing a new element in the data model, a new row appears, delete a row works the same way.

[2017-10-12 15:55] lukeramsden commented on #226
I'll try doing some custom components then, but it's still not a clean way of doing it.

[2017-10-12 16:01] DelfsEngineering commented on #226
![ezgif-5-15dc4c1543](https://user-images.githubusercontent.com/11218557/31506329-126b3286-af45-11e7-9ef9-45ac7a814b99.gif)

[2017-10-12 16:03] DelfsEngineering commented on #226
This uses Vue-form-wizard, and VFG, and another VFG inside the first !
![ezgif-5-e619b98d75](https://user-images.githubusercontent.com/11218557/31506395-4ec50d10-af45-11e7-95c3-5c2a9d87764f.gif)

[2017-10-12 16:06] DelfsEngineering commented on #226
This uses Vue-form-wizard, and VFG, and another VFG inside the first !
![ezgif-5-f53c867eb3](https://user-images.githubusercontent.com/11218557/31506564-be37598c-af45-11e7-9bc4-a2173b9c5084.gif)

[2017-10-12 16:12] lukeramsden commented on #226
That looks great, maybe you could make a JSFiddle and add it to the docs?
Dynamic rows seem like a fairly common use-case.

On Thu, Oct 12, 2017 at 5:06 PM, DelfsEngineering <notifications@github.com>
wrote:

[2017-10-12 16:28] theKhorshed commented on #226
Great @DelfsEngineering! Please share the how you've achieved dynamic fields, adding a JSFiddle would be nice. TIA

[2017-10-12 17:37] DelfsEngineering commented on #226
I cant make a fiddle but here is the whole accordion component used in the first part of the demo above. And special thanks to @icebob for the great contribution. Questions and comments welcome.

[code]

[2017-10-13 11:22] arunjoseph commented on #313
http://jsfiddle.net/ckjuppo1/4/

[2017-10-14 17:24] miseeger opened #316 "Is there a properly working example for async vueMulti"

[2017-10-14 17:25] miseeger commented on #316
... and ooops ... hit RETURN accidently ...

[2017-10-14 17:31] miseeger commented on #316
ooops ... hit RETURN accidently ... ;-)

So now: I tried the given example from the documentaiton and ran into some issues. Tried to set the values for the vueMultiselect when resolving the promise of an ajax-GET (via axios) and failed. And I think I'm in the wrong context when trying to use "this" in order to set the isLoading property (getting "this is undefined").

I only need to know how to ac

[2017-10-17 10:44] #294 closed

[2017-10-17 11:53] lukeramsden commented on #226
I'm happy to make a PR and try and implement this in the core, but first, we need to decide on how it will work.

The easiest way in terms of implementation is probably just adding a field to the core library, of type `dynamic` or similar, that takes a `schema` property, which is just the schema passed to the VFG for each row.

Anything else anyone wants to add to that?

[2017-10-17 13:36] lukeramsden commented on #226
Progress!! It's working well functionally, but having some problems cleaning it up, like the nested fieldset for no apparent reason. I'll make the PR, and someone who knows more about VFG can clean it up :P:P
![In Action](https://user-images.githubusercontent.com/13789719/31667853-84292bd8-b348-11e7-962c-47037e253cf5.gif)

[2017-10-17 13:42] DelfsEngineering commented on #226
This should not be part of core, the way the rows replicated is highly dependant on the CSS and div structure of the repeating element. I use the for accordions, tabs and rows for example. All have different `v-for=` code

[2017-10-17 13:51] lukeramsden commented on #226
Take a look at the PR, it's not really dependant on anything. If it makes sense to move it to optional we can do that, but it definitely makes sense to have at least a basic row field.

[2017-10-20 08:49] icebob commented on #309
Released in [v2.1.1](https://github.com/icebob/vue-form-generator/releases/tag/v2.1.1)

[2017-10-20 08:49] icebob commented on #308
Released in [v2.1.1](https://github.com/icebob/vue-form-generator/releases/tag/v2.1.1)

[2017-10-20 08:49] icebob commented on #276
Released in [v2.1.1](https://github.com/icebob/vue-form-generator/releases/tag/v2.1.1)

[2017-10-20 08:49] icebob commented on #234
Released in [v2.1.1](https://github.com/icebob/vue-form-generator/releases/tag/v2.1.1)

[2017-10-20 08:50] #306 closed

[2017-10-20 08:52] icebob commented on #172
Released in [v2.1.1](https://github.com/icebob/vue-form-generator/releases/tag/v2.1.1)

[2017-10-24 13:06] sayhitoarvind opened #323 "Two way data binding on forms?"
Hi,
I'm trying to achieve two way data binding using v-model on form elements? How can this be achieved?
Thanks

[2017-10-24 13:37] keyurptl opened #324 "Add Dynamic Value in type select or multiselect"
Thanks for such great plugin.

I have question how can i assign value in select or vue multiselect  dynamic variable I mean Like this
[code]

This way how can i use "countries"  array to assign inside filed. If I am adding static array it works perfect.

[2017-10-24 14:06] icebob commented on #324
Hi,

fiddle example: https://jsfiddle.net/icebob/0mg1v81e/872/

[2017-10-24 14:21] keyurptl commented on #324
Thanks for your response.  But bit more In my case.
This
[code]
In this case it display as blank, I mean not displaying any value in select box.

[2017-10-24 14:43] ChadTaljaardt commented on #323
What specifically are you trying to do?

[2017-10-24 19:01] sayhitoarvind commented on #323
I need to update the form's data frequently in my application

[2017-10-25 04:58] keyurptl commented on #324
Hello Any update for above query ?

[2017-10-27 23:03] webdevnerdstuff opened #325 "How to destroy/clear/reset form validation?"
How do you reset the form validation and/or please add a way to destroy/clear/reset the validation on the form so left over errors are removed.

**For example**
Say you have a form module for _user_ and this form handles both "edit user" and "add user".

If you edit a user and cause a validation error, the error message shows up. You then close the module and then go to "add user", this results in

[2017-10-28 20:12] argueta15 opened #326 "The computed property "errors" is already defined in data."
![image](https://user-images.githubusercontent.com/17033669/32138068-5cf6c3ce-bbf2-11e7-84fc-3867a0e841e5.png)

[2017-10-30 16:55] elamotte opened #327 "label:question - Form Builder?"
I want to create a form builder to be able to generate schema for VFG. Do you guys know anything like that? something I could start from?

[2017-10-31 01:57] DelfsEngineering commented on #327
It is sounding like you want dynamic forms. I currently do this and it works great. ... Or are you looking for a tool that allows you to dynamically build forms with a UI that also allows for configuration (drag / drop etc) ?

[2017-10-31 02:09] DelfsEngineering opened #328 "Validating multiple VFG's at the same time"
I have a use case where I have a `Vue-Form-Wizard page` with several VFG's some are in accordions, others in tab widgets. All custom components with VFG. I want to validate all the components at the same time on a given tab.

The schema for each page is dynamic and all comes from a DB call so I can not hardcode the validations.

I am thinking of ways to do this. One way I am thinking is each VFG s

[2017-10-31 10:39] espositodaniele opened #329 "Compatibility"
Hello,

I would like to if it's possible to use this fantastic package with JSON Schema,

I gave a look at JSON type used for the fields, it seems different. Can anyone help with this?

I will appreciate.
Thanks.

D

[2017-10-31 12:04] ChadTaljaardt commented on #327
I have made a custom form builder where you select the elements you want and it allows you to generate the schema, however this is a private project. Though, when developing i created a little prototype in my spare time that i can share.

Give me a few hours and ill send a link to it.

[2017-10-31 17:45] elamotte commented on #327
@DelfsEngineering yeah my form are already dynamics, and I store them in database. But I want to push it next step ahead ang give a UI tool to users to allow them modify/create their own form schemas. I started that actually for my project but it's very for my custom needs so not very sharable either. But sure @ChadTaljaardt if you have already something I would be curious to see it :)

[2017-11-01 05:05] will-fgmnt opened #330 "Add form wide validation"
Current validation is field level only. It would be great if there was the ability to validate the form as a whole with the error message appear above or below the form (preferably configurable).

My use case is I have a `password` and `passwordConfirm` fields which I want to match. Putting a validator on one or both fields won't work as they are dependant on each other.

An alternative approach w

[2017-11-01 09:19] ChadTaljaardt commented on #327
@elamotte

Here is a simple prototype, this was work i did in my own time. Its been heavily improved however i cannot share the upgrade.

https://jsfiddle.net/en48m3py/4/

[2017-11-01 23:59] cincarnato commented on #259
I really need this
group
{
className: "col-6 md-col-12",
fields: [..

[2017-11-02 06:49] gezichenshan commented on #43
Is there any way to init the select values in ajax?

[2017-11-02 07:23] gezichenshan commented on #43
OK,I see.I have done by this way.
[code]

[2017-11-02 16:28] elamotte commented on #327
@ChadTaljaardt thanks!
This is a good starting point actually for now I will stay with my custom solution since it's fill my need but maybe if I have time I'll start a small repo with a component to generate a schema with basic UI.

The fun things in my actual version is that I even use VFG to generate the "form-edit" for each field, so vfg-ception! :)

[2017-11-02 19:51] webdevnerdstuff commented on #325
Looks like this does the trick.

`this.$refs.userForm.clearValidationErrors();`

[2017-11-02 19:51] #325 closed

[2017-11-02 19:54] webdevnerdstuff commented on #136
If we had the ability to change "fieldset" to a "div" that would make things easier to do some custom styling with flexbox. Flexbox has a bug with fieldset, so the validation errors break's the layout a bit. I haven't found a way around this yet.

[2017-11-02 20:02] webdevnerdstuff commented on #288
Using version 2.1.1

I have tried adding tag="div" and it still is using fieldset.

[2017-11-02 22:23] webdevnerdstuff opened #331 ""tag" not working with grouped schema"
Node: version 8.9.0
VGG: version 2.1.1

_**Problem**_
Adding tag="div" still uses fieldset when the schema has grouped fields.

Example:
[code]

This works with a regular schema.

Ex. (works)
[code]

With a grouped schema it does not work.

Ex. (does not work)
[code]

_**Expected Outcome**_
When adding tag to VFG and having grouped fields, it will change fieldset to the tag specified.

[2017-11-03 10:40] #331 closed

[2017-11-03 12:03] envision opened #333 "How to add label icons?"
For example I'd like to have a fontawesome icon as label. I could paste this as label icon that I could then style with CSS:

    <i class="fa fa-envelope-o" aria-hidden="true"></i>

But currently it is parsed as text so can't use HTML?

[2017-11-03 12:09] envision commented on #333
This could be achieved also by being able to set the labels' class.

[2017-11-03 16:35] webdevnerdstuff commented on #331
Awesome. Thank you!

[2017-11-06 21:06] dmilkovski commented on #226
Hi everyone, thanks for great example @DelfsEngineering.
How I can run validation on dynamic fields from main form, when I submitting it?

[2017-11-07 17:58] nsbuckner opened #335 "Masked input not updating model"
I have a simple form where I'm trying to add a masked input. The mask is being applied to the input element, but when you change the value on that input it is not getting bound to the model. All other inputs on the page update the model on change. Is there something I'm missing in my schema to get the masked field to update properly?

[Here is a JSFiddle showing how this isn't working](https://jsf

[2017-11-08 08:17] gezichenshan opened #336 "id of the field doesn't work"
I'm reading https://icebob.gitbooks.io/vueformgenerator/fields/field_properties.html.
the **Common properties of field** said we can set id as id of the field. but when I set the id="checkbox1" for a checkbox,
[code]
 I opened console and got this things below:

[code]

it just set the "checkbox1" as a _for_ attribute value for label. no id here for my checkbox.

[2017-11-08 08:19] icebob commented on #336
Please create a jsfiddle

[2017-11-08 10:42] gezichenshan commented on #336
here comes the jsfiddle

[2017-11-08 17:21] zoul0813 opened #337 "styleClasses for groups, and nested group support"
When groups are processed, it would be nice to be able to set a "class" on the fieldset which would allow for things like Bootstrap's "col-md-6" to have fieldsets side-by-side in a 2-column layout.

Nested groups would also be nice to have with the ability to change the groups "wrapper" element from "fieldset" to a group property.  For example:

[code]
Which would produce markup similar to this:

[2017-11-08 17:37] zoul0813 commented on #336
fieldCheckbox isn't setting the id attribute

[code]

Should be

[code]

[2017-11-08 17:50] icebob commented on #336
Please create a PR with fix. Thanks.

[2017-11-08 18:35] #336 closed

[2017-11-09 03:03] gezichenshan commented on #336
Thanks!

[2017-11-09 04:17] gezichenshan commented on #331
Where can I read the documentation about **tag**?

[2017-11-09 15:56] zoul0813 commented on #300
I agree with DelfsEngineering, I think the checkbox should be rendered something like

```<label><input type="checkbox" /> Label Text</label>```

Due to how formGenerator.vue is controlling the layout, instead of the field component, this doesn't seem possible at the moment.

I'd recommend changing formGenerator.vue and just having it load the field component, allowing the field component the abil

[2017-11-09 18:21] icebob commented on #300
Yes, but it is a very breaking change. So for this we need to rewrite the whole component and implement also a lot of other features from issues. It is a big work and currently I'm busy so I can't do it.

[2017-11-09 18:57] DelfsEngineering commented on #300
Very breaking indeed, it will break all the custom components. Perhaps an alternate solution that is reverse compatible or what I have done, make custom components that are similar to ones that need reworking.

[2017-11-09 20:58] zoul0813 opened #340 "fieldSelect.vue - noneSelected is not visible, required is not set"
The "none selected" option is not "selected" by default, so the drop down appears empty.

Here's a JSFiddle, https://jsfiddle.net/zoul0813/ooncsad3/

The expectation is for the "Select One" text to appear in the dropdown if the user has not modified the dropdown value yet, the same way the "placeholder" attribute on `input` elements work. `:selected="value == undefined"` appears to not be working

[2017-11-09 20:58] zoul0813 commented on #337
Closing.

[2017-11-09 20:58] #337 closed

[2017-11-10 20:08] zoul0813 opened #341 "fieldInput - invalid date in fecha.format"
When entering dates manually using the keyboard in Chrome, fecha throws errors.

JSFiddle: https://jsfiddle.net/zoul0813/21ba3on5/

[code]

When the input is focused, you can enter the date via the keyboard, such as "01", "01", "1980".  As soon as you type the "1" for the year fecha throws an error because the Date field currently has "01/01/0001" but Chrome allows you to continue appending to the

[2017-11-10 20:52] zoul0813 commented on #223
I too was surprised to find out that vue-form-generator didn't use an actual `<form />` element, and provide access to a 'submit' event.

A quick modification to formGenerator.vue, changing the top-level `<div />` into `<form />` and adding a `v-on:submit.prevent="formSubmit"` attribute ... then having `formSubmit` method call `this.$emit('submit', this.model)` allows the parent component to add a

[2017-11-10 22:19] DelfsEngineering commented on #223
@zoul0813 VFG is far more than a form 'submission' tool. Really it is a dynamic UI renderer. Simple form submission can be handled by posting the `model` to your endpoint.

I disagree that this should be changed to be reverse compatible with form submit. It feels like a step backward. Coupled with Vue's reactivity and a live framework like `feathers` you have dynamic live data. ... Super powerful.

[2017-11-10 23:08] zoul0813 commented on #223
I’m new to Vue, but the docs seem to imply one-way data binding with events passing data up the stack is the correct way to manage the models.  Without the form providing some sort of event to listen too, how does the rest of the app know when the user is done? Requiring the user to click a button isn’t very friendly, as simple forms can be submitted with a key press traditionally.  My change stil

[2017-11-11 07:40] dastiw1 opened #343 "How can i change schema reactive? I want to change number input max attribute"
How can i change schema reactive? I want to change number input max attribute.
I need to set one filed max attribute equal to another readonly input value

[2017-11-11 07:59] #333 closed

[2017-11-12 19:35] kikoseijo commented on #274
YEs, but you can't use generic class.
make your own Classes or don't give Wrapper
its toooooo generic class.

[2017-11-13 02:50] gezichenshan commented on #333
Any documentation?

[2017-11-13 10:47] Isomorpheus commented on #226
Thanks Delfs Engineering I will try your solution.

[2017-11-13 14:33] zoul0813 commented on #259
PR #339 adds "styleClasses" to groups.  This allows you to add a "styleClasses" property to your groups, the same way you add it for fields.  Coupled with the "tag" property, you can now have groups defined as `<div class="col-md-6"></div>`, for example.

Sample Use
[code]

Sample Schema
[code]

[2017-11-13 18:36] zoul0813 opened #344 "selectEx multiSelect does not work"
The selectEx `multiSelect` option does not appear to work as expected.  When passed a model with an array of values, the selectEx field properly selects the values in the dropdown, but when adding/removing items from the selection the field provides a single value (which appears to be the first selected item in the list).

Here's a JSFiddle, https://jsfiddle.net/zoul0813/bhvpv4ah/2/

In the JSFidd

[2017-11-13 22:42] hotrush commented on #324
@icebob required not working for select field in your example. Check this please https://jsfiddle.net/0mg1v81e/929/

[2017-11-14 12:27] gezichenshan opened #345 "Property or method "debouncedValidate" is not defined on the instance but referenced during render"
I've created a custom field for postcode. but I got error in console."Property or method "debouncedValidate" is not defined on the instance but referenced during render "
[code]
something i missed?

[2017-11-14 15:26] zoul0813 commented on #345
You didn't define it.  It's not a property defined in abstractField, it's part of the computed value.

When adding your custom field to the form, just provide a `validateDebounceTime` value in the field schema and it will create a debounce() function and call it for you.

Take a look at `src/fields/core/fieldInput.vue` for an example of a basic `input[type=text]` field.

Looks like you're trying t

[2017-11-14 19:22] zoul0813 commented on #330
Here's a custom validator I wrote for comparing two fields, and a JSFiddle example

https://jsfiddle.net/zoul0813/rukxozdk/

[code]

Just add this to your project, then add `isEqualTo` to the validator array for the second password.  Add an `equals` property to the second password fields schema pointing to the first passwords model.

[code]

[2017-11-14 20:10] icebob commented on #330
Nice solution

[2017-11-14 22:48] will-fgmnt commented on #330
@zoul0813 Thanks. Your solution will work but it's worth mentioning you must add the isEqualTo validator on *both* fields. Consider the following:

1. Type _mypass_ into `password` field.
2. Type _mypass_ into `password2` field.
3. Edit `password` field and change _mypass_ to _mypass1_.

The password fields no longer match but no error is shown.

Your solution will suffice for this use-case howeve

[2017-11-15 00:26] zoul0813 commented on #330
@will-fgmnt, the validation function is passed the full form model, and the advanced case of multiple checks would require a custom validator rule anyhow.  Whenever validation occurs on a field, the validated event is fired on the form.

I’m just started working on a Validate.js wrapper for VFG this morning, and should have something “usable” tomorrow or the next day as my current project requires

[2017-11-15 02:28] zoul0813 commented on #329
What are you trying to accomplish?

[2017-11-15 14:05] gezichenshan commented on #345
I'll take a look on it. thank you!

[2017-11-15 14:09] icebob commented on #246
Welcome @zoul0813 as our new collaborator!

[2017-11-15 14:11] zoul0813 commented on #246
Thanks @icebob

[2017-11-15 15:32] zoul0813 commented on #330
@icebob, @will-fgmnt here's a rough draft of what I'm working on.

https://jsfiddle.net/zoul0813/z3up3rwo/

Basically just a Proxy wrapper for ValidateJs, it looks at the field's `rules` property.  `ValidateJs.equality` or any of the other validators works.  You can also run multiple ValidateJs validations just by adding them to the "rules" property and calling one of the virtual functions to trig

[2017-11-15 16:12] gezichenshan commented on #345
I rewrite my custom filed in the following way with some console.log() to test.
but I still caught the same error.I did something wrong?
[code]

[2017-11-15 16:26] zoul0813 commented on #345
Can you provide a JSFiddle of this? I copied your custom field to my project and used it, ... I got an error about the "getConfig" as `../utils/api` is the wrong path for a custom field (assuming you put the field in your project, and not in the `node_modules/vue-form-generator/src/fields` folder.  `getConfig` isn't being used, so I just removed it ... after that, your custom field showed up in my

[2017-11-15 19:33] zoul0813 opened #347 "don't render labels when no label text is provided"
While working on custom checkbox components that include a label, I've discovered that all fields have a label tag rendered when "fieldTypeHasLabel" returns true.  I propose adding an additional check to this function to return false when the field's schema does not have a label property (or altering the v-if statement on the label.

[code]

[code]

This requires the unit tests to be aware of this

[2017-11-16 11:05] lionel-bijaoui commented on #253
Hello @icebob , I've been extremely busy at work.
I will try to catch up with the updates, and see if what I did at that moment is still working now.

[2017-11-16 11:13] lionel-bijaoui commented on #246
@icebob I would like to work on a v3 for VFG, can you create an branch for it ?

[2017-11-16 12:43] icebob commented on #246
Yes. It's [done](https://github.com/icebob/vue-form-generator/tree/v3).

[2017-11-16 12:46] icebob opened #348 "V3 plan"
**Plans:**
- [ ] Better grouping
- [ ] Customizable element classes
- [ ] Customizable layout
- [ ] Better validation
- [ ] ...etc

Any new idea?

[2017-11-16 12:51] icebob commented on #347
Good idea. I think option 1 is a good solution.

[2017-11-16 12:56] lionel-bijaoui commented on #246
Thank you !

[2017-11-16 13:01] lionel-bijaoui opened #349 "Update to Webpack 3"
I'm going to do this update on the v3 branch.
This is the first step for this future version.
Then, I'm going to use babel-env and try to optimize the build where possible.

[2017-11-16 13:21] icebob commented on #349
Great idea!

[2017-11-16 13:26] cristijora commented on #349
Maybe as a side note here. We could use https://dependabot.com/
to keep dependencies up to date. It creates PRs with dependency updates and since we have CI with lots of test this would keep the dependencies up to date.

[2017-11-16 13:29] murilolopes commented on #348
I'm having a bit of trouble getting the generator to run, I can, but I'm having to dig a little to figure things out. I think one point would be a documentation with more practical examples mainly in regards to changing layouts / style.

I do not know if it already exists, but another point would also be valid for laravel or something. I think that through an eloquent model with some extra attribu

[2017-11-16 13:37] lionel-bijaoui commented on #348
1. I really wish to make a stripped down "engine" version, along with "core" and "full".
I realized that in my project, I have to redo most of the basic fields, since I need to add thing to fit my project's specific needs.
I don't have an exact solution, but anything that allow to pick and choose exactly what I need and nothing more would be nice

2. Change the syntax to be more strict. I mean, on

[2017-11-16 13:37] cristijora commented on #348
Agree with @murilolopes Usually docs with many examples are beneficial both for users and for maintainers because when you write examples and use it yourself you might find that something is needed missing.
I have been digging around different ways to build good docs lately.
There are a couple of alternatives:
- Storybook (Good overall but has some limitations regarding UI look and feel and custom

[2017-11-16 13:41] icebob commented on #348
Docsify +1

[2017-11-16 13:41] lionel-bijaoui commented on #348
@icebob I like the control (knobs) you can add in storybook. Storybook seem more popular too. I would vouch for it.

[2017-11-16 13:44] cristijora commented on #348
Yes @lionel-bijaoui but from experience I found it harder to maintain mainly due to a lot of abstractions and boilerplate code. Markdown is easier to write usually and personally I would go for a custom solution with markdown loaders or docsify

[2017-11-16 13:44] lionel-bijaoui commented on #349
@cristijora Isn't it a bit dangerous? Our test must be rock solid if we use that solution

[2017-11-16 13:47] lionel-bijaoui commented on #348
@cristijora Yeah, I don't have hard feeling for that. Plus, you have experience with it so you can teach us and help make it better :)

[2017-11-16 13:59] cristijora commented on #348
Regarding other issues, struggles I personally had when using vfg I can say that, I found myself as @lionel-bijaoui stated writing many "custom fields" which were basically wrappers around the original fields.
I feel like there should be some sort of a wrapper field in the layout just like `element-ui` has
http://element.eleme.io/#/en-US/component/form

Generically speaking it could be something l

[2017-11-16 14:08] cristijora commented on #349
Well unless there are no major upgrades like webpack then I don't see any big issues with that.
It usually provides links to changelogs and if possible compatibility notes.
![image](https://user-images.githubusercontent.com/15955045/32895245-0fd6d976-cae8-11e7-8b6a-415960c6cf46.png)

Since in a npm package like this most of the dependencies are dev-dependencies, the tests are most likely to fail i

[2017-11-16 14:16] lionel-bijaoui commented on #348
@cristijora the 2.4.0 brought a lot of new interesting possibilities to Vue. Maybe we can tap into `inheritAttrs ` and `$attrs` ? I have a hard time wrapping my head around that, but it seem promising.

[2017-11-16 14:53] zoul0813 commented on #274
I think we can probably provide some more advanced form level options, which would allow devs to override or amend their own classes at every level of the hierarchy.  We could also prefix all the internal classes with something like “vfg-“ so there are no conflicts with popular frameworks such as bootstrap.

For example a “wrapperClass” property that defaults to “vfg-wrapper”, but can be changed t

[2017-11-16 14:58] zoul0813 commented on #348
I can probably work on the "Better Grouping" and "Customizable layout" as I'd like to have support for this in my current project and was planning to introduce some changes in my personal fork this week and next.

I was planning to introduce a "formGroup" component and move some of the logic out of "formGenerator" into "formGroup".  The new formGroup would work similar to how existing control comp

[2017-11-16 15:44] cristijora commented on #348
@icebob How can I access the files from the gitbook docs?
Are they written in markdown?

[2017-11-16 16:21] kikoseijo commented on #274
Compatibility its key, rather than building a full CSS framework for it ill rather extend functionality by setting a value for main frameworks boostrap3 or 4 , etc.
(Former)[https://github.com/formers/former] for Laravel does it very clever in this aspect.

The wrapper right now breaks all apart.
Happy Days!

[2017-11-16 22:47] lionel-bijaoui commented on #348
@cristijora I just saw [this](https://github.com/vue-styleguidist/vue-styleguidist) pop up in the Vue newsletter. Look promising, what are your thoughts?

[2017-11-17 09:04] icebob commented on #348
@cristijora I added you to gitbook repo. Yes, the docs is written in markdown

[2017-11-17 09:16] icebob commented on #349
It would be good. @cristijora Could you configure it for VFG?

[2017-11-17 09:20] cristijora commented on #349
@icebob You would have to add the dependabot application to your github account then select the repo. I can do it only for my repos or organizations I am part of but not someone's else repo

[2017-11-17 09:22] icebob commented on #349
Thx, in this case, I will add it.

[2017-11-17 09:29] icebob commented on #348
Guys, I feel that in the future I have no enough time to lead the whole VFG project. In V3 I see we will have to rewrite the whole components and docs. I don't want to be a bottle-neck. So I'm thinking on that I will create an organization for VFG and add you as same members. What do you think?

[2017-11-17 09:37] cristijora commented on #348
Personally I think that's a good idea

[2017-11-17 10:48] Aterr opened #351 "noUIslider tooltips option is ignored."
Hello there!
It seems like all slider options are ignored. Can you please check this ?

I am using it the way, described in docs.
[code]

[2017-11-17 12:37] zoul0813 commented on #348
I’m good with that.

[2017-11-17 16:12] icebob commented on #348
Any idea for organization name?

[2017-11-17 20:25] cristijora commented on #348
ice-vue
vue-form-generator
vfg
easy-forms

[2017-11-17 20:39] DelfsEngineering commented on #348
Why does the name need to be different?
Team VFG is fine.

[2017-11-17 20:47] DelfsEngineering commented on #348
I see VFG as much more than forms. I have made many custom components and use VFG as a dynamic page render. I create pages much like word press makes pages dynamicall. Super powerful. This can become the core engine to similar applications.

[2017-11-17 21:36] icebob commented on #348
I plan to create other Vue generators in the future.
For example:
- vue-table-generator. A schema-based table generator. [Example component](https://github.com/icebob/vue-express-mongo-boilerplate/blob/master/client/app/core/dataTable.vue) and [schema](https://github.com/icebob/vue-express-mongo-boilerplate/blob/master/client/app/modules/devices/schema.js#L15)
- vue-page-generator. A schema-based

[2017-11-18 15:44] rafaesc commented on #348
Hello there!

If you need document the library, I suggest [vue-styleguidist](https://github.com/vue-styleguidist/vue-styleguidist), you can see these examples:

https://croudsupport.github.io/Croud-Style-Guide/technical/
https://vueds.com/
http://rafaelescala.com/vue-konva-doc/

It's possible to document props, methods, events, and slots. Vue-styleguidist give you a living style guide and it allow

[2017-11-18 20:49] Aterr commented on #351
Is anybody alive here ? :)

[2017-11-18 22:28] lionel-bijaoui commented on #351
1. This is an open source project, maintained by volunteer on their free time, given to you and the rest world for free
2. Show some respect and patience, we are NOT at your service
3. This is the weekend
4. Provide a fiddle that reproduce the problem that you are facing, we are not telepathic wizard able to fix bugs by reading tea leaves

I'm going to assume that you are maybe new to this, and di

[2017-11-18 22:28] #351 closed

[2017-11-19 02:16] DelfsEngineering commented on #351
Well said. VFG has become the core of my app. It’s a great contribution and I can’t wait to help further  its development.

[2017-11-19 17:17] icebob commented on #348
Organization created: https://github.com/vue-generators

[2017-11-20 14:06] Aterr commented on #351
Well, sorry if you did not understood me correctly. I posted this on friday morning, and on weekend I just updated this with new comment, that's all I did.
I also understand that you are not at my service, that's why I asked you for help not for someting else. And you're right I'm new with VFG. It's kinda strange that you reacted like that. II will provide a fiddle asap.

[2017-11-23 03:29] gezichenshan commented on #345
here is the jsfiddle:https://jsfiddle.net/egfkqt7a/
I found that if I wrote the custom field in this way:
[code]

[2017-11-23 09:53] lionel-bijaoui commented on #349
I have a working `dev` config ! I need to update some other things and check if everything really work as intended.
Then I will look into the `build` config...

[2017-11-23 09:56] lionel-bijaoui commented on #349
@icebob I'm also going to implement [Prettier ](https://github.com/prettier/prettier) into the mix. It is a fantastic tool that will make beautification the same for everyone

[2017-11-23 12:32] icebob commented on #349
Great!

[2017-11-27 10:39] lionel-bijaoui commented on #351
You don't seem to understand the problem with your attitude.
If you want to update a comment, there is an edit button on every comment box (the little pencil in the upper right).
The thing is, you did not update your comment to add details, show some progress or explain your issue better.
By adding another comment, you spammed every contributor with a notification, just to grab attention. This *mi

[2017-11-27 15:42] zoul0813 commented on #345
@gezichenshan how do I reproduce the error using your Fiddle? When I enter values into your Postcode field all I get is 99999 and 77777 output to the console depending on the input.  No errors about debounceValidate.

[2017-11-28 09:16] gezichenshan commented on #345
@zoul0813 Yes , in Fiddle there is no errors. I've explained in my last comment that if I use the Postcode field by importing it from another file, the errors will show.

[2017-11-28 10:16] andrelec1 opened #352 "Inject I18N"
I have a api that return a  array for generate my form ...
Exemple : `[
    {
        "label": "form.login",
        "placeholder": "form.login",
        "model": "login",
        "readonly": false,
        "required": true,
        "disabled": false,
        "featured": "",
        "hint": "",
        "min": "",
        "maxlength": null,
        "default": "",
        "type": "input",
        "i

[2017-11-28 14:25] zoul0813 commented on #345
@gezichenshan I copied everything over to a local project, and imported the "fieldPostcode.vue" file and am still unable to reproduce the issue you're reporting.  Without a JSFiddle/Plunker showing the error or a git repo that can be cloned and tested ... I can't help you.

Are you using the latest version of VFG (2.1.1) ?

[2017-11-30 04:20] gezichenshan commented on #345
-

- [ ]

[2017-11-30 09:31] lionel-bijaoui commented on #352
You should parse the array and replace the translation before sending it to VFG
[code]

[2017-11-30 14:32] zoul0813 commented on #345
I'm still not able to reproduce the error.  However, you're Reg1.vue file is incomplete and I had to make some assumptions about how you declared the <vue-form-generator /> ...

I went with ...

[code]

You shouldn't be getting errors about `debouncedValidate` unless you're trying to use the debounce validation ... the code that calls 'debouncedValidate' is located in abstractField's computed sett

[2017-11-30 15:12] obiwarn opened #353 "Default for a select dropdown does not seem to work with a select field with object items?"
I tried your example in a jsFiddle. The default is not selected.

https://icebob.gitbooks.io/vueformgenerator/content/fields/select.html

[2017-11-30 16:07] zoul0813 commented on #353
Ref #340 - this looks like a duplicate issue, closing for now.

[2017-11-30 16:07] #353 closed

[2017-12-01 21:17] #347 closed

[2017-12-02 20:43] WapiMukki commented on #335
i have the same problem.

[2017-12-04 09:17] andrelec1 commented on #352
Yes i use this mixin
`translateForm(form) {
            form.forEach((data) => {
                // todo add property needed translation
                data.label = this.$t(data.label);
                data.placeholder = this.$t(data.placeholder);
            });

            return form;
        },`

for the moment  i don't know all key need to be stranslate ...

So i think would be usefull if i

[2017-12-04 16:19] zoul0813 commented on #348
Not sure if anyone else has worked on this, but I created a branch in my fork and started working on updating VFG to the latest version of Vue (2.5.9), along with various other packages such as Pug, Karma, Mocha, and a few other packages.

So far, the branch is fully functional, and only the "should become a color" test is failing in fieldInput.spec (currently, I set it to skip the optional fields

[2017-12-04 16:48] sergiocastrovale commented on #274
I agree with this - had to restyle my wrapper class myself because of it. At least prefix all classes with "vfg-" - that would allow for easier styling and would definitely solve these issues.

[2017-12-04 18:36] icebob commented on #348
Great news. If you think, send a PR to the `v3` branch.

[2017-12-04 20:56] zoul0813 commented on #348
Will do, probably later this week though

[2017-12-05 03:24] gezichenshan commented on #345
@zoul0813 Hi, I created a project on github to reproduce the error. You may check it out if it is convenient for you.
here it is: https://github.com/gezichenshan/vfg-custom-postalcode-field-demo :)

[2017-12-05 15:36] zoul0813 commented on #345
I can reproduce the error in your project, ... taking a look at it now.

[2017-12-05 16:07] zoul0813 commented on #345
Ok, I think I've tracked the issue down ... it looks like the older version of Vue that VFG was originally written against supported adding methods to the Vue components dynamically.  However, the newer version of Vue is throwing errors because "debouncedValidate" is not defined in the component, as it was being attached only in certain situations.  This seems to only occur if you're using a newer

[2017-12-05 21:10] #345 closed

[2017-12-06 09:10] gezichenshan commented on #345
@zoul0813 Thank you very much!

[2017-12-06 10:04] lionel-bijaoui commented on #348
@zoul0813 I was doing that #349 😞

[2017-12-06 14:23] zoul0813 commented on #348
@lionel-bijaoui sorry, I needed a newer version of Vue for a project I’m working on ... all I did was update the package versions on Vue and some of the test related packages.  I also updated some tests and code due to the updates.  Don’t believe I modified or updated webpack or the build configuration.

I’m actively working on a project that relies on VFG, so most of my contributions are related

[2017-12-06 17:03] nsbuckner commented on #335
We ended up using cleave instead. You can do masking with it and it works, so I'd suggest it in the meantime.

[2017-12-06 20:12] lionel-bijaoui commented on #348
No problem, I'm really busy at work and I did not give update for more than a week.
I have updated my work, and I will do a PR. There are big changes.

[2017-12-06 20:37] zoul0813 commented on #348
Sounds good - we can together on it maybe?  I’d also like to propose removing the optional fields from VFG, and separating them out into their own packages ... so we can test and support them a bit better, and cleanup what’s in the core package.

[2017-12-07 11:55] arnKo opened #358 "Asynchronous Validators are broken"
I found two major breaks in the asynchronous validation. I reproduced both in this [jsfiddle](https://jsfiddle.net/0mg1v81e/964/)

First, if I type multiple characters into a text field, for each typed character a new validation error is displayed. Even if using `formOptions.validateDebounceTime`, which is currently not documented, multiple validation errors are displayed if I type a new character

[2017-12-12 18:18] zoul0813 commented on #329
Closing this issue, if you'd like to re-open it please provide more detail about your request.  Thanks.

[2017-12-12 18:18] #329 closed

[2017-12-12 18:55] #341 closed

[2017-12-13 08:54] YgamiLight opened #361 "Value of number type input"
I saw the way of getting value of a number type input is using "this.value".
And problems happened:
when the user enter  like this "10e10",this will be OK
But when they continue to type just like this "10e10ee.12e12e12e.12e21e".Obviously,this input is not a valid number,but the "this.value" equals to the Empty string,And looks like you guys converted the string to number.So the empty string will b

[2017-12-13 09:26] YgamiLight opened #362 "Improve the integer validator"
When I want to use integer validator and min/max attribute together,the min/max will not work.And I checked the integer validator,found there is no relevant field.min and field.max code,Could you please add   it in integer validator?

[2017-12-13 14:14] zoul0813 commented on #348
Just a thought, but anyone working on v3 updates should make sure they keep their updates in sync with bug fixes and new features added to v2 master ... this way we don't fix bugs in v2 and carry them over into v3.

[2017-12-13 16:24] zoul0813 commented on #361
@YgamiLight can you check out PR #363 and let me know if this will solve the issue you're reporting? It uses the same debounced format logic I introduced yesterday for date/datetime inputs to allow users to enter valid values into the HTML5 inputs and it looks at `valueAsNumber` for the input element of number/range inputs per your suggestion.

The model will have the value `NaN` stored on it, but

[2017-12-13 16:54] zoul0813 commented on #362
@YgamiLight can you review PR #364 and let me know if that closes this issue?

[2017-12-13 17:05] zoul0813 commented on #326
@argueta15 can you provide a JSFiddle that reproduces this issue?

[2017-12-13 17:08] zoul0813 commented on #231
@icebob this should be solved with PR #360

[2017-12-13 17:15] icebob commented on #231
@sjordan1975 Can you check it?

[2017-12-13 19:01] #361 closed

[2017-12-13 19:16] #362 closed

[2017-12-13 19:39] #340 closed

[2017-12-13 21:05] vesper8 commented on #348
am really looking forward to v3 with support for slots and documentation on how to use slots to achieve custom layouts

currently trying to do something as simple as having the label and field inline is a bit of a mystery.. lots of occurrences of "slot" when searching issues but no clear example of how to achieve it

I think V3 is going to be great though judging by the list in the first post of t

[2017-12-13 23:46] ihsanberahim commented on #207
It is doable. Here the simulation.

[code]

[2017-12-14 18:27] zoul0813 commented on #358
I think I have a solution for this, using `Promise.all()` which will basically make all validations "promises" ... some will just resolve immediately, while others will wait for the promise to resolve.

in FormGenerator.vue, I'm modifying the `validate()` method to look something like this:

[code]

Should have a PR for this by the end of the day.

[2017-12-14 18:40] felubra commented on #329
I think that @espositodaniele was trying to use the JSON Schema specification to define the fields, instead of using the 'proprietary' schema of this component. Somewhat the way [vue-json-schema](https://github.com/demsking/vue-json-schema) does.
I am currently interested in doing the same thing. Maybe a translation function between schemas will do, but the JSON Schema spec does not account for al

[2017-12-14 19:31] zoul0813 commented on #329
_Just my "two cents" on the subject..._

JSON Schema is meant for defining what an object should look like, so you can validate a JSON Object against a strict schema.  It's not intended to be used as a "go to" format for creating objects.

In the case of VFG, the schema passed to the form is specific to VFG and isn't compatible with other projects (currently) ... JSON Schema would just add bloat a

[2017-12-14 19:37] DelfsEngineering commented on #329
I don't see a need to validate the schema that defines a form. I use VFG in a highly dynamic way where users generate the schema. I think if validation is needed, then you would be a different concern that precedes the JSON hitting VFG.

[2017-12-15 15:52] andrelec1 commented on #352
apparently you use the label for generate the id :/

[2017-12-15 20:55] zoul0813 commented on #348
I've started working on enhancing VFG's support for grouped fields.  I wanted to have the ability to nest my groups, to help with more advanced layouts (a bootstrap btn-toolbar group, with multiple btn-group's each containing buttons) without needing to resort to custom components.

What I've got so far is sitting in my forks `v3-features/styling` branch ( https://github.com/zoul0813/vue-form-gene

[2017-12-15 21:04] icebob commented on #348
It sounds good.

[2017-12-15 23:13] zoul0813 commented on #348
I should have a sample available after the holidays.  I’m on vacation for three weeks, so probably won’t be touching much Code

[2017-12-16 08:47] #358 closed

[2017-12-16 14:53] zoul0813 commented on #358
@arnko that PR solves this issue, but to maintain backwards compatibility you’ll have to add “validayeAsyc: true” to your formOptions being passed to VFG. That will tell VFG to wait on async validators before calling the onSubmit callback, and the VFG validate method will return a Promise instead of a Boolean.

[2017-12-18 16:43] hogenf opened #367 "Validator.string submit post even if min value is not met"
Validator.string dont validate as expected when submit post even if min value is not met.

Exampel:
https://github.com/vue-generators/vue-form-generator/tree/master/examples/post-form

Simple fiddle:
https://jsfiddle.net/hogen/c3s05r4q/

[2017-12-19 05:57] sjordan1975 commented on #231
Something still does not seem right.

New [fiddle](https://jsfiddle.net/sjordan/rpethr2n/)

Repro steps (as original):

Load fiddle at URL in Chrome
1. Place mouse over "mm" in input field and type 10 (the month 10 is entered and auto tabs to "dd")
2. Type 31 (the day 31 is entered and auto tabs to "yyyy")
3. Attempt to type 2017

I expect to get 10/31/2017; however, in my case I get 10/31/0017

[2017-12-19 13:01] YgamiLight commented on #362
Fixed,I think.Thank you!

[2017-12-19 13:02] YgamiLight commented on #361
Fixed,thank you

[2017-12-19 14:04] zoul0813 commented on #362
You think?

[2017-12-21 13:44] raphaelarias commented on #238
@cesarmarinhorj Thanks for the snippet. My pikaday input was returning false (!?), with your snippet it works, but it is still a hack. I have to understand what is happening and fix it properly. So for future references and if someone is having the same problem: my input returns false, and as soon as you select for the first time it returns 1970-01-01, and even though after the second selection it

[2017-12-27 04:45] iamstevendao opened #368 "Custom field: International Telephone Input"
Please check out my form input.
I tested to integrate with vue-form-generator.
I would be really awesome if you guys put it as one of the fields

my package:
https://www.npmjs.com/package/vue-tel-input

[2018-01-02 10:10] sjordan1975 commented on #231
@icebob Please mark this comment as "won't fix" so that my bounty can be closed. It's been over 6 months since I raised this issue and 2 weeks since I reported that the latest update seems to still have the issue. Thank you in advance

[2018-01-02 15:19] zoul0813 commented on #231
I think we need to add more logic into the abstract field and date component.  Something that detects html5 Date fields in chrome and other browsers that convert it from a standard text entry ... if detected, it never sets the field value while it has focus ... the main issue is the formatModeToField code that overwrites what’s your entering.  The delay I added helps, if you type fast... but doesn

[2018-01-02 15:46] jaywilburn commented on #300
Does anyone have a good workaround for it in the meantime? I'm interested in seeing what can be done.

[2018-01-02 15:56] zoul0813 commented on #300
@jaywilburn - implement your own component, that’s what I did.  Extend AbstractField and unset the label so it doesn’t appear above the check, then use a custom template to wrap the input and put your label in the right place.  V3 should have a good solution for this, FYI.

[2018-01-02 16:44] #231 closed

[2018-01-03 18:45] lwolter commented on #326
I have got the same error:
[code]

[2018-01-04 07:09] lwolter commented on #326
Problem solved with:

Vue.use(VeeValidate, {
  errorBagName: 'vErrors'
});

[2018-01-04 21:29] jonnycraze opened #369 "Question on overriding Styling (css)"
I have a general question, what is the recommended approach to overriding the styles that are shipped with Vue-Form-Generator?

I am evaluating VFG and would like to know what the best/accepted approach is for styling a form with my own styles, or with another frameworks styles (boostrap, material, pure, ect).

Thanks very much.

[2018-01-04 21:38] zoul0813 commented on #369
For the most part, the style classes used are mostly compatible with Bootstrap.  I don’t include the VFG css file and just implement whatever classes I need for custom styling.  V3 should have a cleaner interface for this, allowing you to override more style classes.  As is, v2 supports overriding style classes used in most of the higher level elements.

[2018-01-04 21:40] jonnycraze commented on #369
Awesome, thanks for the quick reply @zoul0813 .

[2018-01-04 21:41] #369 closed

[2018-01-05 06:31] jaywilburn commented on #300
@zoul0813 Can you please share a gist with me of your extension of AbstractField and/or custom template you used? I want to make sure it won't break anything we've already built.

[2018-01-08 15:30] zoul0813 commented on #300
@jaywilburn here's my custom checkbox.vue component.  I'm using Vue's "render" method here, instead of a <template> but the concept is the same.  Here, I'm just using "labelText" property in the field schema instead of "label".

The rendered output looks something like this:

[code]

[code]

[2018-01-08 16:36] jaywilburn commented on #300
@zoul0813 Thanks so much! I will present this to my team to make these same changes,

[2018-01-09 08:39] ChadTaljaardt commented on #368
You should create a pull request adding this to the optional fields available.

[2018-01-09 15:23] zoul0813 commented on #368
I would recommend just building this out as a separate package.  I'm hoping that with v3 we will be removing the optional fields from the main code and breaking them out into separate packages ... this way, you don't have to have X, Y and Z optional fields enabled just because you want to use A, B and D optional fields.  Most of the optional fields also have extra dependencies, which can be handle

[2018-01-09 15:26] icebob commented on #368
Yes, we can add it to the docs as 3rd party field.

[2018-01-09 15:41] ChadTaljaardt commented on #368
In the mean time why not allow it as a optional field until V3 is out, if there is a pull request.

Whats the ETA for V3?

[2018-01-09 16:49] zoul0813 commented on #368
v3 is being actively worked on, and I don't think we have any timelines for it.

Adding more stuff to v2 just clutters it up.  If your package can be installed separately, that would be preferred as it would then be truly "optional".  It also allows the code to be maintained by you, without requiring the VFG team to review and approve changes to it as well as handle any issues being reported about

[2018-01-10 12:34] iamstevendao commented on #368
Thanks guys for such a great work!
I am using this package as a custom field of VFG in my company's project so I was about to make it support VFG as default for everyone. But I do understand your thoughts so I will make a more detailed document for using it as a custom field of VFG in the README. And it would be awesome if this package has a chance to be in your docs.

[2018-01-10 12:43] ChadTaljaardt commented on #368
Thanks for your work @iamstevendao

I require this so im looking forward to seeing the implementation!

[2018-01-10 19:47] jonnycraze opened #371 "Using Cleave"
I'm sure I'm missing something obvious here, but I'm unclear how to implement cleave.

I have imported the asset, and created the field but i receive the following error:
``` Unknown custom element: <field-cleave> - did you register the component correctly? ```

Again, I'm sure I'm missing something simple but if anyone could chime in how to use the cleave input I would be very appreciative.

[2018-01-10 19:52] jonnycraze commented on #335
How did you do masking with cleave? @nsbuckner

[2018-01-10 20:03] nsbuckner commented on #335
@jonnycraze Depends on what you need to do...but I was making a demo SSN input so I used a delimiter with blocks set to numeric only.

For the form schema it was something like:
`{
                type: "cleave",
                label: "SSN",
                model: "SSN",
                pattern: "^\\d{9}|\\d{3}-\\d{2}-\\d{4}$",
                validator: VueFormGenerator.validators.regexp,

[2018-01-10 20:07] jonnycraze commented on #335
That is awesome, thank you @nsbuckner . one more question if you have the time, how do you import cleave to work with vue-form-generator. I'm getting an error and I'm assuming it's something simple i'm overlooking.

[2018-01-10 20:35] nsbuckner commented on #335
@jonnycraze It's been a few months since I set up that demo project when I was testing out the form generator. I don't remember having to do anything special, just installed through NPM and then imported cleave into my boot.ts file:

`import 'cleave.js';`
`import 'cleave.js/dist/addons/cleave-phone.us.js'; //US Phone Numbers Addon`

There's install instructions here too that should cover it: https

[2018-01-10 20:59] jonnycraze commented on #371
Closing, I used core instead of full. problem solved.

[2018-01-10 20:59] #371 closed

[2018-01-11 08:56] andrelec1 opened #372 "Create Custom fields, data didn't add in model"
I try to create my custom field.

so i do this :
[code]

But my component didn't update the model of VueFormGenerator ...

What i forget ???

[2018-01-11 09:45] andrelec1 commented on #372
I finaly found ;)

I juste add :
[code]

[2018-01-11 09:45] #372 closed

[2018-01-11 11:38] donalmurtagh opened #373 "Customising a field's template"
I found various issues that ask whether it is possible to customise a field's template, e.g. #232 #136. I found [this commit](https://github.com/cristijora/vue-form-generator/commit/9b5ada79c2e2b0214081aeab78b118172d207776) which attempts to make a field's template customisable, but it's unclear what the current status of this feature is?

I think there is currently no way to change the markup in

[2018-01-11 16:04] andrelec1 commented on #373
I think the most simple way is using a customField as a 'wrapper'

and yes for bootstrap answere ;)
( look the template : https://github.com/vue-generators/vue-form-generator/blob/master/src/formGenerator.vue )

[2018-01-11 17:23] donalmurtagh commented on #373
@andrelec1 Could you show an example of how to do this, e.g. how would I customize the `<input>` field
templates by adding the following at the top
[code]

[2018-01-11 18:50] andrelec1 commented on #373
[code]
this is my personal field for a datePicker
( maybe need some improuvement but i think is a good start )

[2018-01-14 16:00] fabifabi opened #374 "custom field with integrated validator"
thanks for this library for begin !

I want translate element ( http://element.eleme.io/#/en-US ) in your library.
This lib is for me far more good&beautifull than bootstrap :)

btw,i want element don't do email etc field....

So let's mix the two !

But for my email (it is example,i want translate all field), how validate it....without extra validator?

I means,i want my email be valdiate by the

[2018-01-14 16:33] zoul0813 commented on #374
If you’re creating a custom field, you can just hard core the email validator into it ... I’d recommend merging or testing if a validator was passed in the schema as opposed to just over writing the passed in validator “just in case” there’s a special use case (regex testing the TLD?).

Just add the email validator in the components “mount” event method.

[2018-01-15 09:50] Alex-Sokolov opened #375 "Error when building with webpack"
![image](https://user-images.githubusercontent.com/4497128/34936462-8a355416-f9f2-11e7-8a9d-9bb486534376.png)

Importing:
[code]

Inside `vue-form-generator/dist/vfg.css` at the end
[code]

If switch to `import 'vue-form-generator/dist/vfg-core.css';` all works

[2018-01-17 07:10] YgamiLight opened #376 "Cleave plugin worked incorrectly"
https://jsfiddle.net/YagamiLight/7naqyerk/1/
Here is the bug: The number separator should be the comma ','  instead of space  ' '. And I think it is better to set the value model to be pure number instead of the direct value of input which has comma or space

[2018-01-17 10:32] donalmurtagh commented on #348
This has been requested before #270 but support for field arrays would be really useful.

### 1. Simple Arrays
For example, a form that allows the user to upload an unlimited number of images, each image would be stored base64 encoded inside an array

### 2. Arrays of Objects
For example, if a user needs to enter the name, surname and date-of-birth of each child, this would be stored in the model

[2018-01-17 14:04] zoul0813 commented on #376
Not quite sure what you're showing here.  The delimiter used really depends on your locale, and it looks like the person who developed the cleave field lives in an area where " " is the common delimiter. The comma is commonly used as the decimal separator in a lot of locales, for example.  Here's a link with some common number formats for various locales: https://docs.oracle.com/cd/E19455-01/806-0

[2018-01-17 15:05] YgamiLight commented on #376
Sorry, maybe I didn't express exactly.Here I want my number to be formatted in money format. And in the cleaveOptions I used the (numeralThousandsGroupStyle: 'thousand') key-value.But the formatted result is not I want.What I want is "123,456",but got "123 456"

[2018-01-17 15:09] zoul0813 commented on #376
You need to change the "delimiter" property in cleaveOptions, as I described above.

numeralThousandsGroupStyle does not determine whether or not to use "," or " " ... it only determines what a "thousand" is ...

https://github.com/nosir/cleave.js/blob/master/doc/options.md#numeralthousandsgroupstyle

https://github.com/nosir/cleave.js/blob/master/doc/options.md#delimiter

[2018-01-17 16:05] YgamiLight commented on #376
Thank you! This issue can be closed. Once again, Thanks very much.

[2018-01-17 16:38] #376 closed

[2018-01-18 13:49] shah-dhaval commented on #325
@webdevnerdstuff  Can you please share how you have achieved form reset?

[2018-01-19 14:40] jonnycraze opened #377 "Question: Does VFG support deep array binding"
I'm currently building a group, and binding each model to an array object key, like so:
[code]

When the input field is changed, the updated value does not seem to bubble out to the model, I'm curious if this functionality is supported, or if I'm trying to do something that is not currently supported.

Thank you!

[2018-01-19 15:32] zoul0813 commented on #377
Can you provide a JSFiddle?

[2018-01-19 15:55] jonnycraze commented on #377
Sure, let me set one up. My initial messaging is incorrect, the above example works, where i am struggling is using the model with a json pointer syntax
[code]

[2018-01-19 16:00] zoul0813 commented on #377
VFG doesn't support that type of model path.  VFG basically just takes the string passed to the model property and breaks it up using the '.' (dot) creating an object ...

`model: 'categories[0].value'` would become `{ "categories[0]": { value: 'value' } }`

Check out the 'setModelValueByPath` method in VFG's abstractField ...

[code]
VFG uses Lodash internally for various purposes, so hopefully w

[2018-01-19 16:05] jonnycraze commented on #377
Ah that answers that question, that would be an excellent feature.
Thank you for your prompt response, I appreciate it.

[2018-01-19 16:05] #377 closed

[2018-01-19 17:27] webdevnerdstuff commented on #325
Please see my previous comments, the solution is there.

[2018-01-19 18:08] rDr4g0n opened #378 "Is there a way to use a basic multiselect field?"
I see that there is support for vue-multiselect, but I need a basic `<select multiple></select>` type field that binds to an array of values rather than a single value. Is this currently possible? If not, is this a feature that can be added?

Thanks

[2018-01-19 18:15] rDr4g0n commented on #378
Oh, I've just discovered your [custom fields](https://icebob.gitbooks.io/vueformgenerator/content/fields/custom_fields.html) documentation, which should solve this problem.

However, it may be a useful default field!

[2018-01-20 13:45] ianshade opened #379 "Custom tag and classes for groups not working - getting fieldset as a wrapper"
Hi, thanks for an awesome component!

I encountered a problem with the `tag=""` directive and `styleClasses` when using groups. Basically they are not working for me. When using `tag="div"` non-grouped fields are correctly wrapped in a div, but all groups are still in fieldsets and don't have styleClasses applied.

I reproduced the issue modifying the demo fiddle (vue@2.2.1, vue-form-generator@2.1

[2018-01-21 15:42] zoul0813 commented on #379
It looks like the package you are using isn't up-to-date with the latest code on GitHub.

I've updated your JSFiddle and pointed it at the current vfg.js in the repo, and it works as expected.

https://jsfiddle.net/LLfrnequ/3/

Update your package.json to pull VFG from GitHub, similar to this:

[code]

[2018-01-21 15:49] icebob commented on #379
@zoul0813  It's a manual process. Do I it now from the master?

[2018-01-21 16:27] icebob commented on #379
I released a new version: https://github.com/vue-generators/vue-form-generator/releases/tag/v2.2.0

[2018-01-21 20:23] ianshade commented on #379
Thanks a lot guys! I've been using npm and I didn't notice these changes in repo.

[2018-01-21 20:23] #379 closed

[2018-01-23 21:32] onhernandes opened #380 "Set slot with VueMultiSelect"
I'm using vueMultiSelect and there's an entry for `slot` to set the label for `not found`, but I can't set this through `vue-form-generator`. Does anyone knows how to set this?

[2018-01-23 23:31] zoul0813 commented on #380
Current list of supported Parma’s passed to the multiselect component are found here:

https://github.com/vue-generators/vue-form-generator/blob/master/src/fields/optional/fieldVueMultiSelect.vue

It’s possible not all options are available.

[2018-01-24 14:33] zopyx opened #381 "Additional CSS id or class for fieldset and .form-group"
It would be very handy for custom styling if you could style a generated fieldset from a group with custom css. Would it be possible introduce as `css` or `id` parameter for groups besides `legend` or could a normalized representation of a group's `legend` be used for auto-generating a CSS `id` or `class` for the HTML `fieldset`?

The same applies to generated `div.form-group` wrappers around each

[2018-01-24 15:09] zoul0813 commented on #381
You can use the groups CSS selector to style the legend, and the fields `styleClasses` to apply a CSS class to a field specifically.

Here's a sample Fiddle: https://jsfiddle.net/zoul0813/k6gzcj6b/4/

[2018-01-24 17:15] zopyx commented on #381
This is not what I am looking for. I should be possible to reference the outer wrapper classes for fields and groups.

[2018-01-24 17:31] zoul0813 commented on #381
Not sure I understand?  You have access to the group, and to the individual field to provide custom CSS classes.  From there, you can style everything.

Per your request, `It would be very handy for custom styling if you could style a generated fieldset from a group with custom css.` ... the answer I provided is the solution.  You provide a `styleClasses` value to the group, and then style the gen

[2018-01-24 17:34] zoul0813 commented on #374
@fabifabi closing this issue for now, feel free to re-open it if you need further assistance.

[2018-01-24 17:34] #374 closed

[2018-01-24 17:50] zoul0813 commented on #367
In your fiddle, you wrapped VFG in a `<form>` tag.  This is not valid, as the `<form>` is not being interrupted by anything so VFG does not have a chance to stop it.

You should have an "onSubmit" handler associated with the VFG submit button, per the documentation (https://icebob.gitbooks.io/vueformgenerator/content/fields/submit.html).

Do not put VFG inside a of a `<form>` tag, and instead, per

[2018-01-24 17:50] #367 closed

[2018-01-25 00:19] TheStoof commented on #381
Perhaps I have a different insight. I haven't encountered any example code that shows that vue-form-generator is capable of multi-column forms. Is this inaccurate?

What zopyx is suggesting is that with an outer wrapper on fieldsets as well as styleClasses on fields, you could offer increased flexibility in terms of form design.

[2018-01-25 02:38] zoul0813 commented on #381
The group object supports “styleClasses”, and the field objects also support this.  I use “col-md6” as my styleClasses for groups and fields to get multi-column layouts.  I can provide an example using bootstrap for this tomorrow if necessary.

[2018-01-25 06:58] gsitgithub opened #384 "Align Multiple inputs horizontally"
Currently all field inputs are vertically alligned. Even if I add **schema.fieldClasses**: 'col-md-4' and **schema. styleClasses**: 'col-md-3', width of field input doesn't change.
I found that css class .vue-form-generator .form-group has width: 100% which is not effected by **schema. styleClasses** and **schema.fieldClasses**.
Ofcourse field should be of width 100% if style classes are not provi

[2018-01-25 11:51] zopyx opened #385 "staticMap not showing up"
I have a fresh checkout as of today. I have modified main.js of examples/simple/main.js with this staticMap however the maps is being displayed.

[code]

<img width="1086" alt="bildschirmfoto 2018-01-25 um 12 51 05" src="https://user-images.githubusercontent.com/594239/35387023-78334fa0-01ce-11e8-8fc9-65b8da2aa89d.png">

[2018-01-25 14:35] zoul0813 commented on #381
Here's an example of using Bootstrap 3 with VFG, creating two side-by-side groups ... and the "Skills" and "Status" fields are also side-by-side ...

https://jsfiddle.net/zoul0813/k6gzcj6b/5/

[2018-01-25 14:38] zoul0813 commented on #384
If you're using Bootstrap, I would recommend removing the VFG CSS from your project all together as the majority of VFG's classes are Bootstrap compatible.  You may need to provide a handful of CSS yourself for certain field types though.

Here's an example of VFG setup using Bootstrap 3, without the VFG CSS, showing a two-column form with some two-column fields inside.

https://jsfiddle.net/zoul0

[2018-01-25 14:58] zoul0813 commented on #385
Did you update the reference in examples/simple/index.html and point it at vfg.js instead of vfg-core.js ? The simple example only includes `vfg-core.js` which does not provide access to the optional fields (fieldStaticMap.vue is an optional field and only provided in vfg.js)

[2018-01-25 15:08] zoul0813 commented on #385
It also looks like you have `visible: false` on the staticMap schema, which will prevent it from being displayed as well.

[2018-01-25 15:25] zopyx commented on #385
ok, with vfg.js and `visible: true` I can see the label but still no map

Modified ``main.js``:

[code]

[2018-01-25 16:38] TheStoof commented on #381
I believe I hijacked the thread, so I do apologize. I realized my previous mistake; I worked off an old jsfiddle that didn't use Bootstrap. I was able to do exactly what I needed to do.

The documentation didn't explicitly cover what properties 'groups' supported. Field Properties (https://icebob.gitbooks.io/vueformgenerator/content/fields/field_properties.html) does explain what properties fields

[2018-01-25 16:39] zoul0813 commented on #385
Your model should look like this:

[code]

The staticMap component expects the lat/lng to be contained within an object in your model, so if you tell it to use `address` for the `model` then it expects to see `address.lat` and `address.lng` properties.

[2018-01-25 16:41] zoul0813 commented on #381
Support for `styleClasses` on groups is new, and the documentation may not have been updated for it.

@zopyx can this issue be closed, or do you require further assistance with this?

[2018-01-25 16:44] zopyx commented on #385
Getting closer but this gives a 403 for

staticmap:1 GET http://maps.googleapis.com/maps/api/staticmap?center=30,50&zoom=6&size=640x640&scale=1&format=png

[2018-01-25 16:49] zoul0813 commented on #385
That link works fine for me (centering around the Persian Gulf).

403 is an unauthorized error ... you'll need to refer to the google maps api documentation to resolve issues with their API.

Looks like the VFG related issues you were having are now resolved.  Mind if I close this issue?

[2018-01-25 16:55] zopyx commented on #385
Don't get me wrong but what should I check with the Google Maps API here? I know that you need an API key for certain operations. If an API key is need for using staticMap, so how can I configure it. Is there a working example for staticMap?

[2018-01-25 16:59] zopyx commented on #385
It's the scale factor.

[2018-01-25 16:59] #385 closed

[2018-01-25 17:00] zoul0813 commented on #385
Unfortunately, I can't provide assistance with the Google Maps API as I haven't used it in quite some time.  The VFG Docs should provide the necessary links and information you need to get started though.

https://icebob.gitbooks.io/vueformgenerator/content/fields/staticmap.html

This refers to https://developers.google.com/maps/documentation/static-maps/intro and states that the "key" property fo

[2018-01-25 17:04] #381 closed

[2018-01-26 03:25] dflock commented on #378
There's a select field built in: https://icebob.gitbooks.io/vueformgenerator/content/fields/select.html

[2018-01-26 03:25] #378 closed

[2018-01-26 07:40] zopyx opened #386 "i18n support for validators?"
Is there anything in VFG for localized validator messages?

Or do you have to provide your own validators with your own custom error messages?

[2018-01-26 08:50] zopyx opened #387 "Example how to configure a custom validator"
In our case the form schema is loaded through AJAX and a field defines a validator like

[code]

I have a my_validators.js file which is loaded from the HTML (no JS packaging involved) like

[code]

How can I attach/export my implementation of `is_int()`

[code]

as module in order to make it visible to VFG?

[2018-01-26 14:15] zoul0813 commented on #386
no current support for i18n at the moment, but this issue should remain open and be tagged to be added in v3 as it's a great idea.

[2018-01-26 14:40] zoul0813 commented on #387
To pass a string, you would need to add the new function to the VueFormGenerator.validators ... depending on how you implemented VFG in your project, this could be done like below.

This also allows you to override any of the built-in validators with your own custom validator by just replacing it.  So you could just replace the 'integer' validator with the custom 'is_int' by overwriting the `VueFo

[2018-01-26 14:41] rDr4g0n commented on #378
@dflock I specifically need a multiselect and I don't see a config option there to enable multiselect. I did copy that select field code and create a custom field which adds the `multiple` attribute to the `select` tag.

[2018-01-26 16:13] zopyx commented on #387
This was too easy. Thanks.

[2018-01-26 16:13] #387 closed

[2018-01-31 15:59] maximaexchen opened #388 "Custom Template with Radiobuttons."
I could not get it to work.
Made it like the example.
Radio imputs are visible in the main form.
But the are not recognized as a
[code]
I can select all of them. v-model does not seem to catch.

Any Advice.

[2018-01-31 16:42] zoul0813 commented on #388
Can you provide a JSFiddle example?

[2018-01-31 18:54] maximaexchen commented on #388
Sorry my html was not shown correctly.
I would provide a fiddle but, to be honest, I have no clue how to do that.
I will try to figure it out.

[2018-01-31 18:59] zoul0813 commented on #388
Not sure what your attempting to do here with custom templates.  What you've provided above does not appear to be VFG related.  If it's a custom field component for VFG, can you provide all of the component code as well?

[2018-01-31 19:08] maximaexchen commented on #388
What I try to achive is a more complex output of three radio-selects which need complex html.
See screenshot.
I could be true, that I am totaly wrong herer.

![bildschirmfoto 2018-01-31 um 20 06 39](https://user-images.githubusercontent.com/9976576/35642099-561178cc-06c2-11e8-8e56-2775017f6c15.png)

[2018-01-31 21:50] SebastienTainon opened #389 "Support for collection type ?"
Hello,

I have not found any support for collection types ([See in Symfony](https://symfony.com/doc/current/reference/forms/types/collection.html)). For example in my post form schema, I have a field "tags", where the user needs to be able to add and remove tag dynamically, each tag having a schema itself (it can be a name and a color for example). It's like embedding a collection of forms in a fo

[2018-01-31 21:53] SebastienTainon commented on #389
Ok I've just found my idea by searching directly into the V3 roadmap. If you're searching this, see https://github.com/vue-generators/vue-form-generator/issues/226

[2018-01-31 21:53] #389 closed

[2018-01-31 22:30] maximaexchen commented on #388
I think I found my problem.
I had to add
[code]
into the component.  Now everything works fine.
Why does it work without "props" in other examples I found?

[2018-02-01 06:29] zopyx opened #390 ""slider"/ion.RangeSlider field not initialized"
I added a field with `type: "slider"` to my JSON field, also added the CSS and JS of ion.RangeSlider to my HTML template...however I don't the a range slider. The HTML DOM still contains the `<field-slider>` tag. Is there some extra initialization outside VFG needed? I

[2018-02-01 09:16] #388 closed

[2018-02-01 11:13] raphaelarias opened #391 "Allow to select all options in a checklist input"
Hi.

Would it be possible to have "All options" option in the checklist input? So when the user selects it, VFG automatically selects all the options?

[2018-02-01 15:04] zoul0813 commented on #390
It looks like the docs incorrectly identify the field as "slider".  You should use "rangeSlider" instead.

[Here's a Fiddle](https://jsfiddle.net/zoul0813/0mg1v81e/1038/)

[code]

[2018-02-01 15:05] zoul0813 commented on #388
@maximaexchen I can't answer that question without seeing the code to your component.

[2018-02-01 15:16] zoul0813 commented on #391
@raphaelarias you could use a submit button with a custom "onSubmit" handler that checks/unchecks everything ... but currently, the checklist component does not support that.

[Fiddle Example](https://jsfiddle.net/zoul0813/p57e5kb7/)

The better solution might be to use the existing fieldChecklist.vue in src/fields/core/ as a base, and create a custom field component from it adding this functional

[2018-02-01 15:23] zopyx commented on #390
Yes, a documentation error.

[2018-02-01 15:24] zopyx opened #392 "rangeSlider: sliderOptions not properly propagated to ionRangeSlider"
See

https://jsfiddle.net/y81ys3an/

Pretty mode is enabled and the prettify() function is supposed to return 'foo' for each value - however the slider still shows the related numbers.

[2018-02-01 16:10] zoul0813 commented on #392
Please take a look at src/fields/optional/fieldRangeSlider.vue

The documentation for the range slider appears to be entirely incorrect.  The correct schema property is `rangeSliderOptions`

[Fiddle Example](https://jsfiddle.net/zoul0813/v5n1h45o/)

[2018-02-01 19:30] SebastienTainon commented on #316
@miseeger I'm facing the same problem, have you found a solution?

[2018-02-01 20:14] miseeger commented on #316
Sorry, not yet.

[2018-02-01 20:32] SebastienTainon commented on #324
I've made a Multiselect custom field that works with async calls for vue-form-generator, see this gist with an example of use: https://gist.github.com/SebastienTainon/7d3add17452f36fda3636835a729bb4e

[2018-02-01 20:34] SebastienTainon commented on #316
Thanks! I've just made this work with a promise system, for anyone that has the same issue, see this gist with an example of use: https://gist.github.com/SebastienTainon/7d3add17452f36fda3636835a729bb4e

[2018-02-01 20:38] miseeger commented on #316
Thank you for sharing 👍

[2018-02-02 04:06] raphaelarias commented on #391
Would this something you would like to have a Pull Request to be merged in the core codebase?

[2018-02-02 15:08] zoul0813 commented on #391
It’s a possible addition to v3 - sure.

I would think that this would fall under the optional components though, as it would require quite a bit of configuration and schema options to make a “check all” feature work for “everyone” (from a styling point of view)

[2018-02-03 04:40] raphaelarias commented on #391
Ok, we will work on something here and we create a Pull Request.

[2018-02-04 18:29] TheStoof opened #393 "VFG CSS overrides Bootstrap3.x classes, limiting form capabilities"
Hello,

For this issue, I refer to https://jsfiddle.net/1cmf4eur/1/ for the desired effect and to https://jsfiddle.net/awon7otp/1/ to observe the conflicts.

For those wishing to implement multi-column forms, you could eliminate vfg.css or vfg-core.css, but doing so means you'd forgo '.form-group.error' and '.form-group.error errors', 'span.help' and '.helper classes', '.form-group.required', and

[2018-02-05 13:44] zoul0813 commented on #393
I think we should continue using the bootstrap compatible classes, but make the rest of the markup/classes more bootstrap compatible.  This will allow you to not use the VFG CSS and rely entirely on Bootstrap for styling, but if you'd prefer not to use bootstrap the VFG CSS can provide all the necessary default styling as it always has.

The end result here is that you can eliminate the VFG CSS if

[2018-02-05 14:37] maximaexchen opened #394 "[Question]: Add additional html"
Hi,

as I can see, there is no possibilty to add aditional attributes like following, right?
e.G:
[code]

Thanks in advance.

[2018-02-05 14:46] zoul0813 commented on #394
At the moment, there is no support for attributes that VFG does not recognize.  You can, however, implement a custom field and add support for your attributes there.

[2018-02-05 14:53] maximaexchen commented on #394
ok. I see. I'll to figure it out.
Thanks for the hint.

[2018-02-05 16:00] zoul0813 commented on #394
I think I've come up with a quick and easy way to add support for "additional attributes" by modifying "abstractField" and adding an "attributes" directive.

[code]
We can then use this directive on the `input` elements of the various components, to add support for unknown attributes (such as "data-toggle", "data-target", etc).

We can extend this functionality even further by adding support for "

[2018-02-05 16:11] zoul0813 commented on #394
We could also simplify the templates for things like fieldInput where certain attributes are simple ... such as "disabled", "formmethod", "autocomplete", etc ... these could all be removed from the template and just merged into the attributes directive ... by pulling them out of the schema using an array of white-listed schema properties.

This would take the `fieldInput.vue` template, which curre

[2018-02-05 16:15] maximaexchen commented on #394
Ok. Thanks for your answer.
To be honest, I do not have any clue to get this running in my component.
I am new to vue, so this is very challenging.

[2018-02-05 16:25] zoul0813 commented on #394
@maximaexchen sorry, I hijacked your question and turned it into a feature request.

For now, what you'd want to do is create a custom field component, [following the instructions in the docs](https://icebob.gitbooks.io/vueformgenerator/content/fields/custom_fields.html).

You would then add support for your custom attributes in the custom field, and refer to that field in your form schema.

[2018-02-05 16:41] maximaexchen commented on #394
ok. good to know. :-)

Are there any practical examples for custom fields? I don't get it.
I have following warning:
[code]
main.js
[code]

Here is my "fieldCvc.vue":

[code]

And here the form:
[code]
maybe you could give me a hint?
Or a catchword I can google for. I have also no idea to implement my
`data-encrypted-name="expiryMonth"` to be filled.

Thanks in advance.

[2018-02-05 17:00] zoul0813 commented on #394
The "v-model" would use the "value" property, inherited from abstractField.

As for the custom html attributes, you would just implement these by adding them to your form schema ...

[code]

You would then use these in fieldCvc.vue in the template like so:

[code]

I would recommend using the [fieldInput.vue](https://github.com/vue-generators/vue-form-generator/blob/master/src/fields/core/fieldInp

[2018-02-05 19:03] maximaexchen commented on #394
Thank you very much for the advice and the demo. Helped me a lot!
The wrapper thing is not that clear by now. Do you mean I should use pug?
Ther rest is working now.

[2018-02-05 21:11] zoul0813 commented on #394
By wrapper, I mean ...

[code]

Which, in the pug templates, looks like this:

[code]

Just suggesting that your custom fields follow the same markup and css classes as other VFG fields, to prevent headaches in the future trying to figure out why your custom fields are different than the VFG fields in the browser.

[2018-02-06 14:59] rivmar opened #395 "How to declare custom validator?"
I tried this:
[code]
but seems checkAmount is newer called.
How to declare custom validator in schema?
Thank you in advance.

[2018-02-06 15:46] zoul0813 commented on #395
Custom validators have to be function references, strings always point to internal VFG validators.

[2018-02-08 22:53] dflock commented on #393
Agree with @zoul0813. Am currently using vfg in a new project with Bootstrap 4 and this causes problems there too - you need to override a load of the CSS from vfg that's baked into `formGenerator.vue`, or take it out and use your custom version of vfg.

Would be ideal if the classes were totally configurable and there was no CSS baked into vfg, but in the meantime, just having no baked in CSS (or

[2018-02-14 06:57] vesper8 commented on #348
Any update on the progress for V3? Not being able to use scoped slots and have full control on the html wrapping the input fields is really preventing me from adopting this library more completely in my projects.. would you say that you plan to release slot support soon? many thanks

[2018-02-14 07:29] vesper8 commented on #384
and what is the option for removing VFG's CSS since all we're doing is installing it via NPM and adding

[code]

[2018-02-14 08:28] vesper8 commented on #236
umm.. I think the way Laravel handles it IS the correct way.. while I am not against forms that auto-validate each field in real time by doing an ajax call every time you focus in and out of fields.. that is actually unwanted behaviour for my use case, I would much rather validate the entire form upon the user submitting the form, and have the server validate and return an error bag, as is the cas

[2018-02-14 19:51] dflock commented on #395
The docs for this are here: https://icebob.gitbooks.io/vueformgenerator/content/validation/

But the docs aren't explicit enough about this. They do tell you that if you use a string, it's a shortcut for a built-in `validator.<string>` function - and that you can just use any function that's in scope - but doesn't give an example for doing this.

To make you example work, just remove the quotes:

[2018-02-14 23:43] wunderdojo opened #396 "Call validate method manually"
I have a page with several VFGs on it. I use ref for one of them like so:
[code]

Then in the onClick function of the button that I would like to trigger validation I tried variations of:

`this.$refs.newMemberForm.validate()`

$refs.newMemberForm is correctly referencing the VFG and if I add an @validated property I can see that the validate method is getting called but it doesn't actually valida

[2018-02-15 00:44] wunderdojo commented on #396
As a hacky work around for the moment I'm making it work this way.

The button I want to trigger validation is bound to a method called addMember().

In the form I'm using the built in submit button but hiding it via CSS.

In addMember() I'm manually triggering it like this:

[code]

Would love to know if there is a better way to achieve this.

[2018-02-15 14:56] zoul0813 commented on #396
@wunderdojo are you only having problems with `required` validation?

I created an example that appears to work as I'd expect it ...  [JsFiddle Example](https://jsfiddle.net/w8ch1ny2/12/)

The same validation errors are displayed when you click either "Submit" or "Validate", the "Validate" button is outside of VFG and the "Submit" button is a "submit" field inside the VFG schema.

I'm using the sa

[2018-02-16 08:36] chteuchteu commented on #100
This error is still thrown. Is there any way to make it work?

[2018-02-16 22:30] bary12 commented on #396
@zoul0813 does this also work if there are multiple vfgs in the page?

[2018-02-16 23:45] zoul0813 commented on #396
@bary12, Can’t see why not...

[2018-02-16 23:52] bary12 commented on #396
@zoul0813, @icebob seemed to suggest in #139 that it might cause some problems.

[2018-02-19 17:17] jaywilburn commented on #348
IDEA: What about a built-in dynamic fields based on the user's selection, similar to this:
http://appliedmathematicsanu.github.io/plexus-form/
On the demo, when you select yes on the favorite color, it will then expose a new field (dropdown) to make a new selection. If this is built in already please forgive me (and please point me in the direction to this) but I thought many users could benefit f

[2018-02-19 19:04] xavs opened #397 "Lack of ID creates errors in console"
https://github.com/vue-generators/vue-form-generator/blob/1300882b5311e59a00cd799674c5beda9258c13e/src/utils/schema.js#L65

If no label or model, it will create fields with "" id, and if there are many, it will raise errors in the console.
Maybe a ramdom id, or skipping the ID altogether would be better?

[2018-02-19 19:58] dflock commented on #397
We could probably replace that line:

[code]

with this one:

[code]

This will generate a random 11 char string as a last resort, if nothing else if available.

You could also hash the schema object if you wanted something stable - this will get you a stable integer that will be unique if the schema object is unique - but will generate the same number when passed the same schema object:

[code]

[2018-02-19 19:58] dflock commented on #397
Sorry for the drive-by - I don't currently have time to branch, test, etc...

[2018-02-20 08:40] vesper8 opened #398 "vue-multiselect should be more flexible with onselect"
I was looking at your custom vueMultiSelect component and noticed you do something nice with the onSearch

[code]

allowing us to define our own onSearch function this way.

But you don't do the same thing for the onSelect. I think you shoiuld.. this way we can define our own methods and don't have to use a generic "onselect" method.. which if we have two vueMultiSelect components in the same page

[2018-02-20 13:20] zoul0813 commented on #395
I'd also like to point out that you can hijack the `VueFormGenerator.validators` object and either replace it, or modify it ... which is useful when your schema's are being retrieved from a remote API and can't contain references to functions.

Something like this:

[code]

You can then reference this new validator using the string `"customValidatorFn"`, I'd recommend prefixing all of your custom

[2018-02-20 13:20] #395 closed

[2018-02-20 15:55] zoul0813 commented on #384
@vesper8 you should have something like this

[code]

You would just omit the '.css' import.

[2018-02-20 16:52] exnihilo-creatio commented on #348
@icebob This might be thought as another project for the VueGenerators organization. How about a GUI for building schema's that generates the schema which can be saved in a database.

[2018-02-20 20:27] wunderdojo commented on #396
@zoul0813 -- That's what I was running into, the fields weren't marked required true. I ended up doing a hybrid approach for now. In case this helps anyone else, here's what I'm doing.

I've got a user account screen that uses multiple small forms. For example, if they want to update their password that opens a form with password and confirm password fields. For that form I set required = true on

[2018-02-21 11:04] qikkeronline commented on #375
I also have this issue, in vfg.css there is somehow an unparsed scss variable which breaks my builds.

[2018-02-21 11:06] qikkeronline commented on #136
Just came here to say that I'd also love to just be able to add markup before and after a field. It would make the entire library suitable for building more customized forms without having to create custom fields for each instance of a field that requires slightly different markup around it.

[2018-02-27 18:53] DontSeeSharp commented on #227
Hi!

This seems to be quite an old issue, but I had it today and it seems to me that the fixes did not make their way into the CSS. Fixed by adding additional style as suggested above:

.form-group{display:inline-block;vertical-align:top;/*width:100%*/;margin-bottom:1rem}.vue-form-generator .form-group:not([class*=" col-"]){width:100%}.vue-form-generator

@icebob @lionel-bijaoui Could you make cha

[2018-02-28 13:55] #386 closed

[2018-02-28 13:55] #326 closed

[2018-02-28 22:09] johnzuk opened #399 "Validation does not work. Always show errors."
Hi, I have problem with validation, in my case validation does not work. I created example:
https://jsfiddle.net/0mg1v81e/1464/
In this case validation alway show "This field is required!" error even if field is not empty.
After empty field and set new value the number of errors is increasing in error array. You can see this in example above

[2018-03-01 18:55] fwarren opened #400 "How do you use the new upload field?"
Some documentation or an example would be helpful.

[2018-03-01 19:29] docmattman opened #401 "Can't use row style class on groups"
Apparently there is a bug that doesn't allow the `fieldset` tag to work with the `row` class.  Is it possible to define a different tag to use instead of the `fieldset` tag?  Here is the schema that i'm using:

[code]

Basically, I want two columns for the form (unless the screen is too small).  But because of the `fieldset` issue with the `row` class, I get the full width row and 50% width column

[2018-03-01 21:09] jewbetcha opened #402 "Getting warning: The 'file' type in input field is deprecated"
Thanks a bunch for this package :)

I'm getting this warning:
[code]
when using this kind of field:
[code]
I can't find anything in the documentation about what to do instead of this, even though it says I shouldn't use `type: "input"` for type `file`. I've tried just `type: "file"` but then I get an error about an unregistered custom file type.

What is the recommended alternative?

[2018-03-01 21:22] dflock commented on #401
This isn't currently possible, but is planned for v3. See: #259

[2018-03-01 21:31] zoul0813 commented on #401
The fieldset can be changed by passing a "tag" into VFG.

```<vue-form-generator tag="div" ... />```

This will change all of the "fieldset" tags into "div", for example.

[2018-03-01 21:35] zoul0813 commented on #402
You need to use the 'upload' field,

[code]

The upload field doesn't appear to be documented...

[2018-03-01 21:36] jewbetcha commented on #402
Thank you! Correct, this field is not documented.

[2018-03-01 21:38] zoul0813 commented on #400
The upload field needs documentation.

Here's a quick example of use, based on the fields/core/fieldUpload.vue code ... it appears to support the following schema options:

[code]

Here's an example schema
[code]

[2018-03-01 21:39] zoul0813 commented on #402
Related to #400 - additional usage and sample code can be found here.

https://github.com/vue-generators/vue-form-generator/issues/400

[2018-03-01 21:39] #402 closed

[2018-03-02 02:55] docmattman commented on #401
@zoul0813, I must have missed that in the docs.  That did the trick.  Thanks!

[2018-03-02 14:19] zoul0813 commented on #401
Don't believe that update has made it into the docs yet, it's fairly new.

[2018-03-03 17:50] birdy247 commented on #335
I am also facing this issue.  It seems like its only 1 way data binding i.e. If I set the model via dev tools, it updates, but if I change the test in the masked input, the model does not update.  I can see the component is using v-model="value".  Perhpas it needs to be found to value and emit the value when it changes?

[2018-03-04 10:00] outOFFspace opened #403 "Custom label/field wrapper"
How to build such template

[code]

[2018-03-05 09:33] Sparki2002 opened #404 "field-array"
Please add an array component

[2018-03-06 06:19] networkimprov opened #405 "Add VFG to CDN services"
Allowing installation of VFG like this
[code]

[2018-03-06 14:09] zevitagem opened #406 "Dont work no param validateAsync as TRUE"
It is inverted ? https://github.com/vue-generators/vue-form-generator/blob/master/src/fields/abstractField.js#L78

[2018-03-06 14:42] zoul0813 commented on #406
not sure I understand what you're saying?

[2018-03-06 14:55] zevitagem commented on #406
I am saying that this condition does not make sense since, the variable validateAsync is a TRUE and the asynchronous rule is in ELSE

[2018-03-06 14:56] zevitagem commented on #406
And another thing, if these validators are all asynchronous, the javascript code is not waiting before assigning RESULTS to the promise (https://github.com/vue-generators/vue-form-generator/blob/master/src/fields /abstractField.js#L122)

[2018-03-06 15:41] zoul0813 commented on #406
@zevitagem can you be more specific about what is not working?  You're just providing links to lines of code and giving very short explanations.

abstractField line 78 looks correct to me, if you are using async validation then the validator is pushed onto the results array and the results array is passed to Promise.all to handle the async calls.  Otherwise, the validator is executed and it's resu

[2018-03-06 15:58] zoul0813 commented on #405
@networkimprov The CloudFlare CDN you provided as an example has a "request library" feature which you are welcome to submit a ticket to.

Here's a link to the Issue Request provided by CloudFlare.  This is a simple GitHub Issue request filed with cdnjs's github repo requesting them to add a library of your choice to their repository.  We have no direct control over this.

[Request VFG Be Added to

[2018-03-06 15:58] #405 closed

[2018-03-06 16:40] onhernandes opened #407 "How to bind values with Vuex"
How could I bind model values with Vuex?

[2018-03-06 16:57] zoul0813 commented on #407
You could use the `v-on:model-updated` event in VFG to dispatch/commit your data changes as they occur, if you need that functionality.

Alternatively, you could also use the `v-on:validated` event, which is triggered every time the form validates data (this way you can just `this.$store.commit('model', this.model)` in the onValidated() handler).  This would allow you to selectively commit your mo

[2018-03-06 17:21] zoul0813 commented on #404
Here's an example of a custom component that implements an array of objects.  You should be able to take this logic and create any type of array you need.  It supports adding/removing items from the array, etc.  It's styled using Bootstrap 3.

It looks something like this:

![screen shot 2018-03-06 at 12 06 23 pm](https://user-images.githubusercontent.com/1064917/37046689-edb91b1a-2136-11e8-848a-e

[2018-03-06 17:35] zevitagem commented on #406
Actually, evaluating this file after your comments, I realized that this is correct.
Had not noticed the .all () down there to wait for all the "promises" to finish before executing the "then ()".

My problem is:
 - Quando a propriedade "validateAsync" nao eh setada, o metodo "validate" me retorna um FALSE.

There are 2 validates:
- https://github.com/vue-generators/vue-form-generator/blob/master/

[2018-03-06 17:42] zoul0813 commented on #406
If you have an async validator in your validation chain, then you will need to set validateAsync to true and treat the validation results as a promise ... without seeing your code (ie; a JSFiddle example?) it's hard to say what, if any, problem you are experiencing.

Unfortunately, the new "validateAsync" logic was added recently to solve problems with custom async validators ... and was written t

[2018-03-06 18:06] networkimprov commented on #405
Maybe include the above code for unpkg in the installation docs? Most other JS libs I've seen do this...

[2018-03-06 18:15] zevitagem commented on #406
I have noticed that **$parent** references the **FormGenerator.vue** same, since it has no inheritance from **SUBMIT** -> **abstractField.js**, this **abstractField.js** is only used to complement and put common behaviors among all INPUTS.

That is, in line 325 of the file **formGenerator.vue**, the "validate" call of the child component (SUBMIT) will be executed, which will have all that rule imp

[2018-03-06 18:21] zevitagem commented on #406
I have no access to my code to send you the jsFiddle, but for you to have a notion, I'm using the example of:
- https://github.com/vue-generators/vue-form-generator/blob/master/examples/simple/main.js

My submit button has no validator, it basically has:

[code]

[2018-03-06 18:52] zoul0813 commented on #406
I'm still not entirely sure what problem you're having here.  Perhaps it's a misunderstanding of how the new "validateAsync" logic works or with how fieldSubmit works.

fieldSubmit's "validateBeforeSubmit" property should be set to true if you want the form to be validated before calling the "onSubmit" handler.  "validateAsync" should be set to true if any of your validators are asynchronous (anyw

[2018-03-06 19:20] zevitagem commented on #406
- My friend, I understood how the component works and put up a suggestion for validation done inside the ** fieldSubmit.vue **
- My form has this parameter ** validateBeforeSubmit ** as TRUE

**My problem and all users of the component is the following:**
- When there is no ASINCRONAS validations and the form has ERRORS, it is returning a FALSE instead of an ERROR ARRAY. Therefore,
that validation

[2018-03-06 19:32] zoul0813 commented on #406
@zevitagem can you setup your test scenario on JSFiddle so I can see a working example of this?

[2018-03-06 19:34] zevitagem commented on #406
Yes, as soon as I get home, I will get the commit that was implemented in such a way and I will send it to you by jsFiddle.

[2018-03-06 20:27] onhernandes commented on #407
Great! And what about listening data from Vuex? The only way I achieved this was by creating a computed property for listening any property and updating everything in the model, also, needed to put something like `:useless="computed_property"`. It's dirty, but its working.
Thanks!

[2018-03-06 20:35] zoul0813 commented on #407
What are you trying to accomplish exactly?

[2018-03-06 20:40] onhernandes commented on #407
Right on mounted, load user data from Vuex, then after editing and submitting, the data will be sent back do Vuex through an action, then sent to an endpoint and finally, updating the Vuex state itself or showing an error. For loading the first state from Vuex, I did like said in the last comment(using a computed property for loading data from Vuex)

I really don't know if that's the best approach

[2018-03-06 20:41] zoul0813 commented on #403
VFG doesn't support passing custom templates ... but if you require custom markup, you can always [create your own VFG field components](https://icebob.gitbooks.io/vueformgenerator/content/fields/custom_fields.html).

You can however assign custom CSS classes to certain DOM elements created by VFG.  For example `styleClasses`, `fieldClasses`, `labelClasses` and `tag`.

You can pass `tag` directly

[2018-03-06 20:48] zoul0813 commented on #407
You can use the `submit` feld with an `onSubmit` handler to handle everything after the "editing and submitting" part of your workflow ... the `onSubmit` handler will be notified when the user clicks the "Save/Submit/Update" button in your form, and you can then write the form model into VueX's store by dispatching it to an action ... the action can then be responsible for committing the update in

[2018-03-06 20:52] onhernandes commented on #407
Ok, thank you!

[2018-03-07 01:41] zevitagem commented on #406
https://jsfiddle.net/asLrr62j/1/

[2018-03-07 01:50] zevitagem opened #408 "Add event in callback onValidationError"
It is necessary to add the $ event variable in the onValidationError callback in of the "FieldSubmit.vue" file.

In my case, this component is inside a FORM, and the way the code is currently, I can not do "preventDefault" when the form has errors, I can only do it on the "onSubmit".

[2018-03-07 13:58] #407 closed

[2018-03-07 14:01] zoul0813 commented on #406
@zevitagem that JSFiddle isn't functional.  Can you make a working fiddle that shows what you are having an issue with?

You can use this as a base ...

https://jsfiddle.net/kpw2Lzba/

[2018-03-07 14:01] #403 closed

[2018-03-07 14:06] zoul0813 commented on #408
@zevitagem I recommend not placing VFG inside of a <form /> ... but if you do, you should attach a submit handler to the form and check VFG's validation status in there ...

[code]

[code]

Alternatively, you can just use `@submit.prevent="onSubmit"` and then submit the form manually in the handler.

[2018-03-07 14:17] zevitagem commented on #406
Okay, I used it as the base that sent me and see the behavior when you click on the SEND button with errors in the form:

https://jsfiddle.net/kpw2Lzba/1/

[2018-03-07 14:40] zoul0813 commented on #406
I assume you're referring to the fact that "onValidationError" is not called when the form is invalid? If so, this is only supported with async validation enabled and requires `validateAsync: true` to be set.  [Here's an example.](https://jsfiddle.net/nkpppjkh/)

As for not being able to cancel the event with "preventDefault()", your `<form />` should have a submit handler attached which is capabl

[2018-03-07 14:47] zevitagem commented on #406
So, do you think it is correct to execute the "onSubmit" even with errors in the form just because the "validateAsync" parameter does not exist as TRUE?

I think it would be better if I continued to be ignored so it would prevent users from trusting this "onSubmit" expecting it to enter only with the valid form.

Or, if you put that condition that I wrote some comments above, it works.

[code]

[2018-03-07 15:58] zoul0813 commented on #406
@zevitagem I'm sorry you feel as though the 1+ hour(s) of time i've spent helping you with this issue so far is the equivalent to being ignored.  So let's take a step back here ... and start from the beginning of this issue.

Summary of your ignorance ...
[code]

The solution to the problem you are presenting to me, as I understand it so far, is that you should enable `validateAsync: true` in your

[2018-03-07 16:05] jewbetcha opened #409 "fieldUpload not setting id attribute correctly"
Setting the `id` property in the schema for field `type: "upload"` results in markup that looks like:
[code]

Comparing it to other core field files, it looks like in `fieldUpload.vue` the `id` prop is missing a colon, [here](https://github.com/vue-generators/vue-form-generator/blob/master/src/fields/core/fieldUpload.vue#L4).

Could be an easy/quick fix :)

[2018-03-07 17:14] zoul0813 commented on #409
@jewbetcha this PR should solve the problem - thanks.

[2018-03-07 17:14] #409 closed

[2018-03-07 17:23] zevitagem commented on #406
I explained, I understand that in the future everything will be summed up in a PROMISE.
But it's not only me that I need to understand, the whole community using the component has to have that clear when using simple things.

No you can launch a version of a component with minimal behaviors not working and leave loopholes claiming that it would be corrected in the future version, normally we just

[2018-03-07 17:45] zoul0813 commented on #406
@zevitagem I'd welcome any updates to the documentation you can provide in a Pull Request.  Thank you.

It seems clear that your issue has been resolved by enabling the new `validateAsync` feature ... I'll be closing this issue now.

[2018-03-07 17:45] #406 closed

[2018-03-07 17:57] fwarren commented on #400
This is still not enough info.
[code]
no idea what inputName should be, and no idea in model, schema, event, or instance I would find the file information. And would I really want to upload a file at the onChange point?

[2018-03-07 18:27] zoul0813 commented on #400
`inputName` is the value you want the `<input type="file" name="inputName" />`

model, schema, event, and instance are the arguments passed to the onChange handler ... model is the name of the model property, and schema is the schema object that defines the field.  event is the "change" event that was fired, and instance is a reference to the fieldUpload component itself.

[2018-03-07 19:14] fwarren opened #411 "upload plugin broke"
Besides having no idea how to use it or seeing any example code that uses it. I know the upload field has issues. For now there can only be one upload field per form. The ID is not being handled properly.

The HTML being generated  for id is: ```id="getFieldID(schema)"```

[2018-03-07 19:21] zoul0813 commented on #411
#410 - duplicates #409

This was just fixed in the most recent merge

[2018-03-07 19:21] #411 closed

[2018-03-08 08:46] zopyx opened #412 "Check for existence of fields?"
plone.restapi performs a good validation (or the field validation does it). However plone.restapi does not check for the existence of a field. So you can send `'foo': 'bar'` as part of patch request. Perhaps it would make sense to check if field `foo` really exists and report this as an error?

[2018-03-08 08:55] zopyx opened #413 "Insufficient error reporting, more humane validation/error messages needed"
I have a Dexterity content type with a `table`  z3cform.datagridfield with a row specification that contains

[code]

If you pass an ISO8601 string for `date_from`  then the error is:
[code]

The error message does not contain the name of the offending field `date_from` but three times it mentions `AttributeNotFoundError()`.

If you omit the require field `date_from` then the error is also bit use

[2018-03-08 14:24] zoul0813 commented on #412
If the field is marked as required then VFG will not validate the form unless it has a valid value.

phone.restapi appears to be a python package - unrelated to VFG?

[2018-03-08 14:24] #412 closed

[2018-03-08 14:25] zoul0813 commented on #413
Wrong project?

[2018-03-08 14:25] #413 closed

[2018-03-08 14:31] zopyx commented on #412
Sorry, complete different bugtracker :)

[2018-03-08 14:32] zopyx commented on #413
Sorry, yes, wrong tracker

[2018-03-08 15:57] jewbetcha commented on #409
@zoul0813 any estimate on a release date for this fix?

[2018-03-08 16:06] zoul0813 commented on #409
@jewbetcha you can use it now, just have npm reference the github repo's master branch instead of the npm package.

I believe @icebob will be releasing a new version to [npmjs](https://www.npmjs.com/package/vue-form-generator) soon though.

In case you need it, here's how I reference VFG in my project:

[code]

You would likely want to use `git+https://github.com/vue-generators/vue-form-generator.

[2018-03-08 16:13] jewbetcha commented on #409
Okay great. Thank you!

[2018-03-08 16:44] jewbetcha commented on #409
I tried this, but ran into a multitude of babel/webpack errors. My project is on @babel 7.x and it looks like that and the associated plugins aren't cooperating with VFG from git. Hopefully @icebob will want to release soon :+1:

[2018-03-09 02:57] docmattman commented on #236
I'm also curious to know if this is possible.  Has anyone had any luck validating the the full form server-side in a single request (not each field individually)?

[2018-03-09 04:38] zoul0813 commented on #236
I think this can probably be achieved currently using a hack, ... let me see if I can articulate my thought process here:

A single custom validator, which just checks an error object that was returned from the server.  On submit, send the form to the server and if it comes back with errors, tell VFG to revalidate the form again, which will trigger the custom validator that reads the server genera

[2018-03-09 11:36] icebob commented on #409
Released in v2.2.1

[2018-03-09 11:48] icebob commented on #246
Hi guys,

I automated the NPM publishing. Travis publishing the tagged commits. It means every collaborator can publish a new version to NPM (without me) :)
There is a new npm command to bump version, build files, tagging, and pushing.

**For patch version _(use after bug fixes)_**
[code]

**For minor version _(use after new implemented features)_**
[code]

**For major version _(use after breaking

[2018-03-09 11:57] icebob commented on #348
Hi @lionel-bijaoui @cristijora @dflock @zoul0813,
I created a [@vue-form-generator](https://www.npmjs.com/org/vue-form-generator) organization on NPM. If you send me your NPM username I will add you as members.

I think we can publish VFG v3 modules under this org.
E.g.
[code]
...etc.

What do you think?

[2018-03-09 14:07] #349 closed

[2018-03-09 14:11] zoul0813 commented on #246
The npm publish done by Travis will only occur if we bump the version - correct?

[2018-03-09 14:22] icebob commented on #246
Yes, but the `npm run version <type>` bumps the version. So no need manually.
Travis doesn't check the version. It triggered by pushed git tags.

[2018-03-09 14:27] zoul0813 commented on #246
Ok, just making sure Travis wasn't going to automatically publish every commit to master.  I assumed it wouldn't, but figured I'd ask just to double check.

[2018-03-09 14:28] zoul0813 commented on #348
@icebob my npmjs.com user is `zoul0813`

[2018-03-09 14:28] icebob commented on #246
No no.

[2018-03-09 14:55] jewbetcha commented on #409
@icebob awesome!

[2018-03-09 15:24] zoul0813 commented on #236
OK, the example code didn't take very long to do ... [JSFiddle Example](https://jsfiddle.net/ykrtL6sb/6/)

In the example, I just wire up a `setTimeout` that fakes the async ajax call to the server and sets a `customErrorBag` property to the "fake errors from the server".  Then it re-validates the VFG form.

This is a fairly quick/easy hack.  I think a new `setValidationErrors` method can be added

[2018-03-10 02:04] fwarren opened #416 "Programtically change selected option"
Is there some way to change the currently selected option? An example would be if a zipcode is entered into a text box and we now know the state, could we automatically change the selected state option?

[2018-03-10 13:40] sl0wik commented on #326
In my case issue was resolved with:
[code]
Is there any alternative that won't require adjusting all my components using veevalidate?

[2018-03-11 16:53] zoul0813 commented on #416
You can bind to the model changed event on the VFG instance, and then run any logic you wish... if you update the model bound to VFG it will reflect the change.  I can provide a sample of this later today or tomorrow if necessary.

[2018-03-11 21:42] fwarren commented on #416
Yes some sample code would be great.

[2018-03-12 12:55] zoul0813 commented on #416
Here's a [JSFiddle](https://jsfiddle.net/zoul0813/x3a5oxm7/) showing how you can use the @model-updated event to evaluate and react to model changes.

In this example, if you change the postalCode value to "456789" the checklistcombobox will be updated to reflect two specific options, chosen in the onModelUpdated method ... it is probably best to check if the model you are modifying already has a

[2018-03-13 17:35] jewbetcha commented on #371
@jonnycraze could you elaborate on how you fixed this? I'm also having trouble getting it going.

[2018-03-13 20:37] JoshuaJarman commented on #348
I know I'm coming late to the discussion, but I'm really hoping that the next version will have **support for passing a custom attribute/property array to any form element** to set additional attributes/properties.

This is such a core piece of html5 plumbing and building components in general.
This open design pattern enables maximum usage flexibility.

This is crucial to integrating with other f

[2018-03-13 23:05] fwarren opened #417 "Dealing with errors in file upload"
As near as I can tell there is no way to use a validator with the file upload. I can check to make sure no more than 5 files are being selected  with the code below
[code]
I do not seem to have access to my components ```this``` So I am not sure what I can do here. I can't set any data properties nor call any methods on my component.

[2018-03-13 23:07] fwarren commented on #416
Thank you so very much. I did not realize the ```<select>``` component is reactive and all I had to do was change ```this.model.mySelect``` to change the selection.

[2018-03-13 23:07] #416 closed

[2018-03-14 03:39] fwarren commented on #417
I figured it out on my own, need to use ```this.$parent.$parent``` to access my vue page.
[code]

[2018-03-14 03:39] #417 closed

[2018-03-14 03:40] #400 closed

[2018-03-14 13:27] zoul0813 commented on #416
@fwarren everything should be reactive - if you come across anything that is not, do let us know by creating an issue.

[2018-03-14 13:29] zoul0813 commented on #417
You can use this.$root to access the top most Vue instance (usually the "app" or "page" instance).  I'd recommend, however, using an Event Bus or State Management to notify components.

[2018-03-14 13:34] zoul0813 commented on #348
@JoshuaJarman the latest PR for V3 adds exactly this functionality.  The idea, for now, is that you're field schema can contain an "attributes" property, which is then broken up into "wrapper", "input" and "label" objects which contain additional attributes that are set on the input.

[code]

If you do not specify where the attributes go, and just provide a flat "attributes" property ( `{ "data-to

[2018-03-14 14:41] lionel-bijaoui commented on #246
What about merge ? Should we still wait for you approval @icebob ?

[2018-03-14 14:44] icebob commented on #246
No, because I give the project to the team. But I recommend that at least one other collaborator review all PRs, right?

[2018-03-14 14:47] lionel-bijaoui commented on #246
That's fine by me, I just wanted to be sure about that. I remember this being a major rule to follow 😄

Maybe 2 other collaborator ?

[2018-03-14 14:55] icebob commented on #246
Yes, but at that time I had enough free time to check all changes and issues. And now I haven't and I don't want to be the bottle-neck.

[2018-03-14 14:56] icebob commented on #246
2 others is ok. But if no 2 other active collaborator after 2-3 days?

[2018-03-14 15:04] lionel-bijaoui commented on #246
Yes, keep the thing rolling even if nobody answer.

So, if I create a PR :
* I add everyone for review.
* If I get 2 validations in less than 3 days, I can merge.
* If I get 1 validation in 3 days or more, I can merge.
* If I get a rejection, I can't merge as long as I haven't satisfied the demands. Even if I have 2 validations.
* If there is a conflict about a PR, everyone have to vote and discus

[2018-03-14 15:24] #299 closed

[2018-03-14 15:29] lionel-bijaoui commented on #246
Also, we should add a `ISSUE_TEMPLATE.md` to ask for a fiddle if this is a bug, expected vs observed behavior, etc.

[2018-03-14 15:30] zoul0813 commented on #246
I prefer the `@vue-form-generator/field-checklist` convention.  Prefixing field components with `field`, so as not to confuse them with other possible modules we may come up with (validation modules, template/theme/style modules, etc).  I prefer the kebab-case, personally.

As for the Fiddle, I think we need to update the current Fiddle referenced in the docs to use the latest VFG and Vue... and I

[2018-03-14 15:39] lionel-bijaoui commented on #328
Your problem is too specific. Good luck with your project !

[2018-03-14 15:39] #328 closed

[2018-03-14 16:36] icebob commented on #246
@lionel-bijaoui I think yes, you can create modules, but I don't know, it is my first org with other users :) So would be good to try it and if not working I will try to set the correct rights.
I prefer the `@vue-form-generator/field-checklist` type. Maybe in the future, we will have other types, like `validator-xxx`...etc

Yes, ISSUE template would be great. Could you make one?

[2018-03-14 17:35] icebob commented on #246
@lionel-bijaoui what is your npmjs.com username?

[2018-03-15 09:13] lionel-bijaoui commented on #246
@icebob I don't have an account, let me create one

[2018-03-15 17:22] jaywilburn commented on #408
I am using VFG but from generated JSON. I parse out the function and write it outside the JSON. How would I set preventDefault? Right now this is being used in a Vue app that lives inside of an ASP.net site, and the submit causes a post back. How can I write the function to submit but also preventDefault?

[2018-03-15 17:32] zoul0813 commented on #408
@jaywilburn attach an event callback to the forms submit event, and catch it there.  Do not attempt to catch the submit from the button's event.

[2018-03-17 01:09] gwenaelp commented on #404
Hi,

I am currently making components to deal with objects and arrays. They can be combined (you can edit an array of objects that contains arrays in keys), really configurable and adaptative.

First simple example with an array of string :
![capture d ecran_2018-03-17_02-00-26](https://user-images.githubusercontent.com/5365267/37550045-601ce62a-2987-11e8-8d7a-8c044186fae5.png)

Here is the field

[2018-03-17 14:57] zoul0813 commented on #404
If you can build the component out as a third-party plugin for VFG, we'd be happy to link to it in the project README (similar to the `vue-tel-input`).  I'd recommend prefixing the project with `vfg-field-` as we'll be switching to this naming convention with the release of v3 (breaking out the optional components in v2 as separate packages).

[2018-03-18 22:56] gwenaelp opened #419 "New field type : source code"
To allow people type source code in a better way in the forms, I have made a custom field, and I would like to register it to the list of available custom fields.

### Preview
![preview](https://user-images.githubusercontent.com/5365267/37572148-35904f4c-2b07-11e8-8883-40fd3dc6db63.png)

### Links

Repo : https://github.com/gwenaelp/vfg-field-sourcecode
NPM : https://www.npmjs.com/package/vfg-fiel

[2018-03-19 11:05] lionel-bijaoui commented on #246
About the naming convention, I forget that we decided `vfg-field-***` (eg. `@vue-form-generator/vfg-field-checklist`)
We have our first external field #419 !

[2018-03-19 11:07] lionel-bijaoui commented on #419
Thanks a lot ! You are the first custom field (as far as I know).
We are in the process of updating to the v3 so be aware some changes might be needed.

[2018-03-19 12:25] zoul0813 commented on #419
Looks good.

I added the documentation tag to this issue, your field should be added to the README under the "Public Custom Fields" section.

[2018-03-19 14:33] gwenaelp opened #420 "New field type : object"
To allow people handle dictionnaries in a better way in the forms, I have made a custom field, and I would like to register it to the list of available custom fields.

## Preview
### Without schema
![preview1](https://user-images.githubusercontent.com/5365267/37601584-b1c26f36-2b8a-11e8-9337-f9677f1e040f.png)

### With schema
![preview2](https://user-images.githubusercontent.com/5365267/37601617-c

[2018-03-20 13:03] zoul0813 commented on #404
PR #421 updates the docs to link to [vfg-field-object](https://github.com/gwenaelp/vfg-field-object) ... hopefully this covers your need for an array field.  I'm closing this issue for now, feel free to re-open it if vfg-field-object does not solve the problem.  If you experience problems with vfg-field-object, please open an issue on that projects repo.

[2018-03-20 13:03] #404 closed

[2018-03-20 13:55] #419 closed

[2018-03-20 13:56] #420 closed

[2018-03-20 13:59] zoul0813 commented on #394
dynamic attributes are now supported in v3, but unfortunately they do not exist in the v2 branch.  I'm closing this issue as it has been resolved for a future release.

[2018-03-20 13:59] #394 closed

[2018-03-20 14:13] zoul0813 commented on #391
@raphaelarias I'm going to close this issue, but before I do I wanted to provide an additional option using the field schemas ["buttons" parameter](https://icebob.gitbooks.io/vueformgenerator/content/fields/inside_buttons.html).  This is similar to the above mentioned submit buttons solution, but takes advantage of the built-in "inside buttons" available to all fields.

[JSFiddle Example](https://